<!DOCTYPE html>
<html lang="en">

<head th:replace="~{thymeleafFrs :: commonHeadFr}"></head>

<head>

    <!-- link activity js -->
    <script src="controllerJSs/activity.js"></script>

</head>

<body>
    <header th:replace="~{thymeleafFrs :: headerFragment}"></header>
    <aside th:replace="~{thymeleafFrs :: asideFragment}"></aside>
    <div th:replace="~{thymeleafFrs :: userInfoEditModalFragment}"></div>

    <main id="mainAreaID" class="main min-vh-100">

        <!-- Tabs navigation panel -->
        <ul class="nav nav-tabs pe-0" id="myTab" role="tablist">
            <!-- for table side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#tableActivityHolderDiv" role="tab"
                    aria-controls="tableActivityHolderDiv" aria-selected="true">Table</a>
            </li>
            <!-- for form side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="form-tab" data-bs-toggle="tab" href="#formActivityHolderDiv" role="tab"
                    aria-controls="formActivityHolderDiv" aria-selected="false" onclick="setActivityStatusAuto()">
                    Form</a>
            </li>
        </ul>

        <!-- Tabs content -->
        <div class="tab-content mt-1" id="myTabContent">

            <!-- Table tab  -->
            <div id="tableActivityHolderDiv" class="tab-pane fade show active table-container p-4 bg-light rounded-3"
                role="tabpanel" aria-labelledby="table-tab">
                <!-- a table will be dynamically generated in here -->
            </div>

            <!-- Form tab -->
            <div class="tab-pane fade" id="formActivityHolderDiv" role="tabpanel" aria-labelledby="form-tab">

                <div class="card mx-auto" style="width: 1100px;">

                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0">Activity Management Form</h3>
                    </div>

                    <div class="card-body" style="background-color: ivory;">

                        <form id="formActivity" onsubmit="return false">

                            <!-- Activity Name and Type -->
                            <div class="row mb-2">
                                <div class="col-8">
                                    <label for="inputActivityName" class="form-label fw-bold mb-0">Activity Name
                                        :</label>
                                    <input id="inputActivityName" type="text" class="form-control"
                                        placeholder="Enter Activity Name"
                                        onkeyup="inputValidatorText(this,'','activity','act_name')" required>
                                </div>

                                <div class="col-4">
                                    <label for="selectActivityType" class="form-label fw-bold mb-0">Category
                                        :</label>
                                    <select id="selectActivityType" class="form-select" required
                                        onchange="dynamicSelectValidator(this,'activity','act_type_id')">
                                    </select>
                                </div>

                            </div>

                            <!-- Short Description and Provider name -->
                            <div class="row mb-2">
                                <div class="col-7">
                                    <label for="inputShortDescription" class="form-label fw-bold mb-0">Short Description
                                        :</label>
                                    <textarea id="inputShortDescription" class="form-control" rows="3"
                                        placeholder="Enter Short Description"
                                        onkeyup="inputValidatorText(this,'','activity','description')"></textarea>
                                </div>
                                <div class="col-5">
                                    <label for="inputProviderName" class="form-label fw-bold mb-0">Provider Name
                                        :</label>
                                    <input id="inputProviderName" type="text" class="form-control"
                                        placeholder="Enter Provider Name"
                                        onkeyup="inputValidatorText(this,'','activity','act_provider')" required>
                                </div>
                            </div>

                            <!-- Province, District, Location -->
                            <div class="row mb-2">
                                <div class="col-3">
                                    <label for="selectActivityProvince" class="form-label fw-bold mb-0">Province
                                        :</label>
                                    <select id="selectActivityProvince" class="form-select" required
                                        onchange="getDistByProvince()">
                                    </select>
                                </div>

                                <div class="col-3">
                                    <label for="selectActivityDistrict" class="form-label fw-bold mb-0">District
                                        :</label>
                                    <select id="selectActivityDistrict" class="form-select" required
                                        onchange="dynamicSelectValidator(this,'activity','district_id')">
                                    </select>
                                </div>

                                <div class="col-6">
                                    <label for="inputActivityLocation" class="form-label fw-bold mb-0">Location
                                        :</label>
                                    <input id="inputActivityLocation" type="text" class="form-control"
                                        placeholder="Enter Address" required
                                        onkeyup="inputValidatorText(this,'','activity','location')">
                                </div>
                            </div>

                            <!-- Email and Contact Numbers -->
                            <div class="row mb-2">
                                <div class="col-6">
                                    <label for="inputActivityEmail" class="form-label fw-bold mb-0">Email :</label>
                                    <input id="inputActivityEmail" type="email" class="form-control"
                                        placeholder="Enter Email" required
                                        onkeyup="inputValidatorText(this,'','activity','email')">
                                </div>
                                <div class="col-3">
                                    <label for="inputContact1" class="form-label fw-bold mb-0">Contact #1 :</label>
                                    <input id="inputContact1" type="text" class="form-control"
                                        placeholder="Contact Number 1" required
                                        onkeyup="inputContact2.disabled=false; checkDuplicatedNumbers(inputContact1,inputContact2,'contactone');">
                                </div>
                                <div class="col-3">
                                    <label for="inputContact2" class="form-label fw-bold mb-0">Contact #2 :</label>
                                    <input disabled id="inputContact2" type="text" class="form-control"
                                        placeholder="Contact Number 2"
                                        onkeyup="checkDuplicatedNumbers(inputContact2,inputContact1,'contacttwo')">
                                </div>
                            </div>

                            <!-- Duration, Adult Price, Child Price -->
                            <div class="row mb-2">
                                <div class="col-4">
                                    <label for="inputActivityDuration" class="form-label fw-bold mb-0">Duration
                                        :</label>
                                    <div class="input-group">
                                        <input id="inputActivityDuration" type="number" class="form-control"
                                            placeholder="Enter Duration" required
                                            onkeyup="inputValidatorText(this,'','activity','duration')">
                                        <span class="input-group-text">Minutes</span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label for="inputAdultPrice" class="form-label fw-bold mb-0">Adult Price :</label>
                                    <div class="input-group">
                                        <span class="input-group-text">LKR</span>
                                        <input id="inputAdultPrice" type="number" class="form-control"
                                            placeholder="Adult Price" required
                                            onkeyup="inputValidatorText(this,'','activity','price_adult')">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <label for="inputChildPrice" class="form-label fw-bold mb-0">Child Price :</label>
                                    <div class="input-group">
                                        <span class="input-group-text">LKR</span>
                                        <input id="inputChildPrice" type="number" class="form-control"
                                            placeholder="Child Price"
                                            onkeyup="inputValidatorText(this,'','activity','price_child')" required>
                                    </div>
                                </div>
                            </div>

                            <!-- Additional Info and Status -->
                            <div class="row mb-2">
                                <div class="col-5">
                                    <label for="inputAdditionalInfo" class="form-label fw-bold mb-0">Additional Info
                                        :</label>
                                    <textarea id="inputAdditionalInfo" rows="3" class="form-control"
                                        placeholder="Enter Additional Info"
                                        onkeyup="inputValidatorText(this,'','activity','note')"></textarea>
                                </div>
                                <div class="col-4">
                                    <label for="selectActivityStatus" class="form-label fw-bold mb-0">Status :</label>
                                    <select id="selectActivityStatus" class="form-select" required
                                        onchange="staticSelectValidator(this,'activity','activity_status')">
                                        <option value="" selected disabled>Select Status</option>
                                        <option value="available"> Operating </option>
                                        <option value="permanantly_closed"> Permanantly Closed </option>
                                        <option value="temporary_closed"> Temporary Closed </option>
                                        <option value="ifDeleted" class="d-none"> Deleted Activity </option>
                                    </select>
                                </div>
                            </div>

                            <!--3 Form Buttons  -->
                            <div class="row mt-3">

                                <div class="col-3">
                                    <button type="reset" class="btn btn-all btn-clear" onclick="refreshActivityForm()">
                                        Clear</button>
                                </div>

                                <div class="col-9 text-end">
                                    <button type="button" id="activityUpdateBtn" class="btn btn-all btn-update "
                                        onclick="updateActivity()" style="pointer-events: all;">Update</button>

                                    <button type="submit" id="activityAddBtn" class="btn btn-all btn-add "
                                        onclick="addNewActivity()" style="pointer-events: all;">Add</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>

            </div>

        </div>

        <!-- Modal to display full details of a row -->
        <div class="modal fade py-5" id="infoModalActivity" tabindex="-1" aria-labelledby="infoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content shadow-lg rounded-4">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="infoModalLabel">Activity Full Details</h5>
                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div class="container">

                            <!-- Basic Information -->
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <p class="fw-bold mb-1">Name:</p>
                                    <p id="modalActivityName" class="text-muted"></p>

                                    <p class="fw-bold mb-1">Type:</p>
                                    <p id="modalActivityType" class="text-muted"></p>

                                    <p class="fw-bold mb-1">Duration:</p>
                                    <p id="modalActivityDuration" class="text-muted"></p>
                                </div>

                                <div class="col-md-6">
                                    <p class="fw-bold mb-1">Location:</p>
                                    <p id="modalActivityLocation" class="text-muted"></p>

                                    <p class="fw-bold mb-1">District:</p>
                                    <p id="modalActivityDistrict" class="text-muted"></p>

                                    <p class="fw-bold mb-1">Province:</p>
                                    <p id="modalActivityProvince" class="text-muted"></p>
                                </div>
                            </div>

                            <hr>

                            <!-- Contact Information -->
                            <div class="row g-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Contact One:</p>
                                    <p id="modalActivityContactOne" class="text-muted"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Contact Two:</p>
                                    <p id="modalActivityContactTwo" class="text-muted"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Email:</p>
                                    <p id="modalActivityEmail" class="text-muted"></p>
                                </div>
                            </div>

                            <hr>

                            <!-- Pricing Information -->
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <p class="fw-bold mb-1">Adult Fee:</p>
                                    <p id="modalActivityAdultFee" class="text-muted"></p>
                                </div>
                                <div class="col-md-6">
                                    <p class="fw-bold mb-1">Child Fee:</p>
                                    <p id="modalActivityChildFee" class="text-muted"></p>
                                </div>
                            </div>

                            <hr>

                            <!-- Additional Information -->
                            <div class="row g-4">
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1">Description:</p>
                                    <p id="modalActivityDescription" class="text-muted"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Status:</p>
                                    <p id="modalActivityStatus" class="text-muted"></p>
                                </div>
                            </div>

                            <hr>

                            <!-- Additional Details and Deleted Info -->
                            <div class="row g-4">
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1">Additional Details:</p>
                                    <p id="modalActivityNote" class="text-muted"></p>
                                </div>
                                <div class="col-md-4">
                                    <p id="modalActivityIfDeleted" class="text-danger d-none mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer d-flex justify-content-between bg-light">
                        <button class="btn btn-outline-primary" onclick="printActivityRecord()">
                            Print
                        </button>
                        <div>
                            <button id="modalActivityEditBtn" class="btn btn-outline-success me-2"
                                onclick="refillActivityForm(window['currentObject'])">
                                Edit Activity Record
                            </button>
                            <button id="modalActivityDeleteBtn" class="btn btn-outline-danger"
                                onclick="deleteActivityRecord(window['currentObject'])">
                                Delete Activity Record
                            </button>
                            <button id="modalActivityRecoverBtn" class="btn btn-outline-primary d-none"
                                onclick="restoreActivityRecord()">
                                Restore Activity Record
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- Modal to display full details of a row -->
        <div class="modal fade py-5" id="infoModalActivityOri" tabindex="-1" aria-labelledby="infoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content shadow-lg rounded-4">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="infoModalLabel">Activity Full Details</h5>
                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div class="container">

                            <!-- Employee Image and Basic Info -->
                            <div class="row g-4 align-items-center">

                                <!-- Name and NIC -->
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1"> Name:</p>
                                    <p id="modalActivityName" class="text-muted"></p>

                                    <p class="fw-bold mb-1">Location:</p>

                                    <p id="modalActivityLocation" class="text-muted"></p>

                                    <p id="modalActivityDistrict" class="text-muted"></p>

                                    <p id="modalActivityProvince" class="text-muted"></p>

                                    <p class="fw-bold mb-1">Type</p>
                                    <p id="modalActivityType" class="text-muted"></p>


                                </div>
                            </div>

                            <!-- Other Details -->
                            <hr>
                            <div class="row g-4">
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1"> Adult Fee:</p>
                                    <p id="modalActivityAdultFee" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1"> Child Fee:</p>
                                    <p id="modalActivityChildFee" class="text-muted mb-0"></p>
                                </div>
                            </div>

                            <hr>


                            <hr>
                            <div class="row g-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Activity Duration:</p>
                                    <p id="modalActivityDuration" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Description:</p>
                                    <p id="modalActivityDescription" class="text-muted mb-0"></p>
                                </div>

                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1">Status:</p>
                                    <p id="modalActivityStatus" class="text-muted mb-0"></p>
                                </div>
                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1">Additional Details:</p>
                                    <p id="modalActivityNote" class="text-muted mb-0"></p>
                                </div>

                                <div class="col-md-4">
                                    <p id="modalActivityIfDeleted" class="text-danger d-none mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer d-flex justify-content-between bg-light">
                        <button class="btn btn-outline-primary" onclick="printActivityRecord()">
                            Print
                        </button>
                        <div>
                            <button id="modalActivityEditBtn" class="btn btn-outline-success me-2"
                                onclick="refillActivityForm(window['currentObject'])">
                                Edit Activity Record
                            </button>
                            <button id="modalActivityDeleteBtn" class="btn btn-outline-danger"
                                onclick="deleteActivityRecord(window['currentObject'])">
                                Delete Activity Record
                            </button>
                            <button id="modalActivityRecoverBtn" class="btn btn-outline-primary d-none"
                                onclick="restoreActivityRecord()">
                                Restore Activity Record
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</body>

</html>