<!DOCTYPE html>
<html lang="en">

<head th:replace="~{thymeleafFrs :: commonHeadFr}"></head>

<head>

    <!-- link vehicle js -->
    <script src="controllerJSs/attraction.js"></script>

    <style>
        .w-33 {
            width: 32.5% !important;
        }

        .col-place-name {
            width: 20% !important;
        }

        .col-local-fees {
            width: 15% !important;
        }

        .col-foreign-fees {
            width: 15% !important;
        }
    </style>

</head>

<body>
    <header th:replace="~{thymeleafFrs :: headerFragment}"></header>
    <aside th:replace="~{thymeleafFrs :: asideFragment}"></aside>
    <div th:replace="~{thymeleafFrs :: userInfoEditModalFragment}"></div>

    <main id="mainAreaID" class="main min-vh-100">

        <!-- Tabs navigation panel -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- for table side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#tableAttractionHolderDiv"
                    role="tab" aria-controls="tableAttractionHolderDiv" aria-selected="true">Table</a>
            </li>
            <!-- for form side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="form-tab" data-bs-toggle="tab" href="#formAttractionHolderDiv" role="tab"
                    aria-controls="formEmployeeHolderDiv" aria-selected="false">
                    <!-- onclick="setEmpStatusAuto()" -->
                    Form</a>
            </li>
        </ul>

        <!-- Tabs content -->
        <div class="tab-content mt-1" id="myTabContent">

            <!-- Table tab  -->
            <div id="tableAttractionHolderDiv" class="tab-pane fade show active table-container p-4 bg-light rounded-3"
                role="tabpanel" aria-labelledby="table-tab">
                <!-- a table will be dynamically generated in here -->
            </div>

            <!-- Form tab -->
            <div class="tab-pane fade" id="formAttractionHolderDiv" role="tabpanel" aria-labelledby="form-tab">

                <div class="card mx-auto" style="width: 1100px;">

                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0">Attraction Management Form</h3>
                    </div>

                    <div class="card-body" style="background-color: ivory;">

                        <form id="formAttraction" onsubmit="return false">

                            <!-- NAME AND STATUS ROW -->
                            <div class="mb-2">
                                <div class="input-group">
                                    <!-- Name Label -->
                                    <label class="form-label" for="inputPlaceName" style="width:65%">Name :</label>

                                    <!-- Status label -->
                                    <label for="selectAttrStatus" class="form-label">Status: </label>

                                </div>

                                <div class="input-group">
                                    <!-- Name Input -->
                                    <input id="inputPlaceName"
                                        onkeyup="inputValidatorText(this, '' ,'attraction' ,'name' )" type="text"
                                        class="form-control form-input me-2" style="width:35%">

                                    <!-- Status input -->
                                    <select required id="selectAttrStatus" class="form-select"  onchange="staticSelectValidator(this,'attraction','attr_status')">

                                        <option value="" selected disabled> Select Status </option>
                                        <option value="open"> Open Site </option>
                                        <option value="permanantly_closed"> Permanantly Closed </option>
                                        <option value="temporary_closed"> Temporary Closed </option>
                                        <option value="ifDeleted" class="d-none"> Deleted Record </option>                                     
                                    </select>
                                </div>
                            </div>

                            <!-- Province and District starts -->
                            <div class="mb-2">
                                <div class="input-group">
                                    <!-- Label for PROVINCE -->
                                    <label class="form-label w-50" for="selectAttrProvince">Province
                                    </label>

                                    <!-- Label for DISTRICT -->
                                    <label for="selectAttrDistrict" class="form-label w-50">District
                                    </label>

                                </div>

                                <div class="input-group">

                                    <!-- SELECT PROVINCE -->
                                    <select id="selectAttrProvince" class="form-control form-select"
                                        onchange="getDistByProvince()">
                                    </select>

                                    <!-- SELECT DISTRICT -->
                                    <select id="selectAttrDistrict" class="ms-3 form-control form-select"
                                        onchange="dynamicSelectValidator(this,'attraction','district_id')">

                                    </select>
                                </div>
                            </div>

                            <!--TYPES accordion starts -->
                            <div class="mb-2 w-100 border p-3 accordion accordion-flush mt-2" id="accordionForTypes">

                                <div class="accordion-item ">

                                    <!-- <h5 class="accordion-header mb-2"> -->
                                    <div class="accordion-header mb-2">

                                        <button class="p-0 accordion-button collapsed fw-bold " type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flushCollapseOne"
                                            aria-expanded="false" aria-controls="flushCollapseOne">

                                            <h5 class="text-info"> Categories : Click to view</h5>
                                        </button>
                                    </div>

                                    <div id="flushCollapseOne" class="accordion-collapse collapse ps-4"
                                        data-bs-parent="#accordionForTypes">
                                        <div class="accordion-body bg-light d-flex justify-content-between">

                                            <!-- this will be filled by a JS -->

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Activities accordion starts-->
                            <!-- <div class="mb-2 w-100 border p-3 accordion accordion-flush mt-2"
                                id="acc#accordionForActivities">
                                <div class="accordion-item ">
                                    <h5 class="accordion-header mb-2">
                                        <button class="p-0 accordion-button collapsed fw-bold " type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flushCollapseTwo"
                                            aria-expanded="false" aria-controls="flushCollapseTwo">
                                            <h5 class="text-info"> Nearby Activities : Click to view</h5>
                                        </button>
                                    </h5>
                                    <div id="flushCollapseTwo" class="accordion-collapse collapse ps-4"
                                        data-bs-parent="#accordionForActivities">
                                        <div class="accordion-body bg-light d-flex justify-content-between">

                                           
                                        </div>
                                    </div>
                                </div>

                            </div> -->

                            <!-- Entrance Fees Section -->
                            <div class="mb-2">
                                <div class="row">
                                    <h5>Entrance Fees</h5>

                                    <!-- 3 Check Boxes for Entrance Fees -->
                                    <div class="input-group">

                                        <!-- CB 1 -->
                                        <input type="radio" class="btn-check" id="allEntryFreeChkBox" autocomplete="off"
                                            name="entranceFees" value="All Free"
                                            onchange="allEntryFree(); attraction.feetype = this.value ">

                                        <label class="btn btn-outline-success w-33 rounded-start"
                                            for="allEntryFreeChkBox">All
                                            Free</label>

                                        <!--CB 2  -->
                                        <input type="radio" class="btn-check" id="localsEntryFreeCheckBox"
                                            autocomplete="off" value="Local Free" name="entranceFees"
                                            onchange="localsEntryFree(); attraction.feetype = this.value">

                                        <label class="ms-1 btn btn-outline-warning w-33"
                                            for="localsEntryFreeCheckBox">Local
                                            Free</label>

                                        <!-- CB 3 -->
                                        <input type="radio" class="btn-check" id="allPaidCheckBox" autocomplete="off"
                                            name="entranceFees" value="All Paid"
                                            onchange="allPaid(); attraction.feetype = this.value">
                                        <!-- checked -->

                                        <label class="btn ms-1 btn-outline-danger w-33" for="allPaidCheckBox">All
                                            Paid</label>
                                    </div>
                                </div>

                            </div>

                            <div class="mb-2">
                                <!--INPUT ENTRANCE FEES -->
                                <div class="row">

                                    <div class="col-6 bg-light border">

                                        <h5 class="mt-1">Local Fees</h5>

                                        <!-- Local ADULT -->
                                        <div class="row mt-1 mb-3">
                                            <div class="col-6">

                                                <label class="form-label  mb-0">Local Adult</label>

                                                <div class="input-group">
                                                    <span class="input-group-text p-1 pb-0">
                                                        <h6>LKR</h6>
                                                    </span>
                                                    <input type="number" id="inputLocalAdultFee"
                                                        class="form-control form-input w-85 p-1 text-center"
                                                        placeholder=""
                                                        onkeyup="inputValidatorText(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','attraction','feelocaladult')">
                                                </div>


                                            </div>

                                            <!-- Local CHILD -->
                                            <div class="col-6">

                                                <label class="form-label mb-0">Local Children</label>

                                                <div class="input-group">
                                                    <span class="input-group-text p-1 pb-0">
                                                        <h6>LKR</h6>
                                                    </span>
                                                    <input type="text" id="inputLocalChildFee"
                                                        class="form-control form-input w-85 p-1 text-center"
                                                        placeholder=""
                                                        onkeyup="inputValidatorText(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','attraction','feechildlocal')">
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6 bg-light border">

                                        <h5 class="mt-1">Foreign Fees</h5>

                                        <!-- Foreign ADULT -->
                                        <div class="row mt-1 mb-3 ">
                                            <div class="col-6">
                                                <label class="form-label  mb-0">Foreign Adult</label>

                                                <div class="input-group">
                                                    <span class="input-group-text p-1 pb-0">
                                                        <h6>LKR</h6>
                                                    </span>
                                                    <input type="text" id="inputForeignAdultFee"
                                                        class="form-control form-input w-85 p-1 text-center"
                                                        placeholder=""
                                                        onkeyup="inputValidatorText(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','attraction','feeforeignadult')">
                                                </div>
                                            </div>

                                            <div class="col-6">

                                                <label class="form-label mb-0">Foreign Children</label>

                                                <div class="input-group">
                                                    <span class="input-group-text p-1 pb-0">
                                                        <h6>LKR</h6>
                                                    </span>
                                                    <input type="number" id="inputForeignChildFee"
                                                        class="form-control form-input w-85 p-1 text-center"
                                                        placeholder=""
                                                        onkeyup="inputValidatorText(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','attraction','feechildforeign')">
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- NOTE -->
                            <div class="row mt-2 border bg-light">

                                <div class="col-7 pb-2">
                                    <label for="inputNote" class="form-label fw-bold">Note :</label>
                                    <textarea class="form-control" placeholder=" " id="inputNote"
                                        onkeyup="inputValidatorText(this,'','attraction','description')"
                                        style="height: 100px;"></textarea>
                                </div>

                                <div class="col-5 ms-0 me-0">

                                    <div class="row w-100 mb-2">
                                        <div class="col-8">
                                            <!-- PARKING FEE STARTS -->
                                            <label for="vehiParkingFeeInput" class="form-label mb-0">Parking
                                                Fee
                                                :
                                            </label>

                                            <div class="input-group mb-1">
                                                <span class="input-group-text p-1 pb-0">
                                                    <h6>LKR</h6>
                                                </span>
                                                <input type="number" id="vehiParkingFeeInput"
                                                    class="form-control form-input p-1 text-center " placeholder=""
                                                    onkeyup="inputValidatorText(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','attraction','vehicleparkingfee')">

                                            </div>
                                        </div>

                                        <div class="col-4 my-auto">
                                            <input type="checkbox" class="btn-check" id="freeParkingCBX"
                                                onchange="freeParkingCheckBox(); ">

                                            <label class="btn btn-outline-success rounded-start"
                                                for="freeParkingCBX">Free</label>
                                        </div>

                                    </div>

                                    <div class="row w-100 mt-2">
                                        <!-- DURATION -->
                                        <label for="inputTourDuration" class="form-label mb-0"> Tour Duration </label>

                                        <div class="input-group mt-1">
                                            <input type="number" class="form-control form-input p-1 text-center"
                                                id="inputTourDuration" placeholder=""
                                                onkeyup="inputValidatorText(this,'^(?!0*$)\\d+(\\.\\d{1,2})?$','attraction','duration')">
                                            <span class="input-group-text p-1 pb-0 w-50 text-center">
                                                <h6>Hours</h6>
                                            </span>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <!--3 form buttons starts -->
                            <div class="row mt-3">

                                <div class="col-3">
                                    <button type="reset" class="btn btn-all btn-clear"
                                        onclick="refreshAttractionForm()"> Clear</button>
                                </div>

                                <div class="col-9 text-end">
                                    <button type="button" id="attraUpdateBtn" class="btn btn-all btn-update "
                                        onclick="updateAttraction()" style="pointer-events: all;">Update</button>

                                    <button type="submit" id="attraAddBtn" class="btn btn-all btn-add "
                                        onclick="addNewAttraction()" style="pointer-events: all;">Add</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>

            </div>

        </div>

        <!-- Modal to display full details of a row -->
        <div class="modal fade py-5" id="infoModalAttraction" tabindex="-1" aria-labelledby="infoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content shadow-lg rounded-4">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="infoModalLabel">Attraction Details</h5>
                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div class="container">

                            <!-- Employee Image and Basic Info -->
                            <div class="row g-4 align-items-center">

                                <!-- Name and NIC -->
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1">Location Name:</p>
                                    <p id="modalAttrName" class="text-muted"></p>
                                    <p class="fw-bold mb-1">NIC:</p>
                                    <p id="modalEmpNIC" class="text-muted"></p>
                                </div>
                            </div>

                            <!-- Other Details -->
                            <hr>
                            <div class="row g-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Employee Code:</p>
                                    <p id="modalEmpCode" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Designation:</p>
                                    <p id="modalEmpDesignation" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Working Status:</p>
                                    <p id="modalEmpStatus" class="text-muted mb-0"></p>
                                </div>
                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Gender:</p>
                                    <p id="modalEmpGender" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Date of Birth:</p>
                                    <p id="modalEmpDOB" class="text-muted mb-0"></p>
                                </div>
                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Mobile Number:</p>
                                    <p id="modalEmpMobileNum" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Land Number:</p>
                                    <p id="modalEmpLandNum" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Personal Email:</p>
                                    <p id="modalEmpPersonalEmail" class="text-muted mb-0"></p>
                                </div>
                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1">Address:</p>
                                    <p id="modalEmpAddress" class="text-muted mb-0"></p>
                                </div>
                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1">Additional Details:</p>
                                    <p id="modalEmpNote" class="text-muted mb-0"></p>
                                </div>

                                <div class="col-md-4">
                                    <p id="modalEmpIfDeleted" class="text-danger d-none mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer d-flex justify-content-between bg-light">
                        <button class="btn btn-outline-primary" onclick="printEmployeeRecord()">
                            Print
                        </button>
                        <div>
                            <button id="modalEmpEditBtn" class="btn btn-outline-success me-2"
                                onclick="refillEmployeeForm(window['currentObject'])">
                                Edit Employee Record
                            </button>
                            <button id="modalEmpDeleteBtn" class="btn btn-outline-danger"
                                onclick="deleteAttrRecordEmployeeRecord(window['currentObject'])">
                                Delete Attraction Record
                            </button>
                            <button id="modalEmpRecoverBtn" class="btn btn-outline-primary d-none"
                                onclick="restoreEmployeeRecord()">
                                Restore Employee Record
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</body>

</html>