<!DOCTYPE html>
<html lang="en">

<head th:replace="~{thymeleafFrs :: commonHeadFr}"></head>

<head>

    <!-- link employee css -->
    <!--<link rel="stylesheet" href="css/booking.css">-->

    <!-- link booking js -->
    <script src="controllerJSs/booking.js"></script>

</head>

<body>

    <header th:replace="~{thymeleafFrs :: headerFragment}"></header>
    <aside th:replace="~{thymeleafFrs :: asideFragment}"></aside>
    <div th:replace="~{thymeleafFrs :: userInfoEditModalFragment}"></div>
    <div th:replace="~{thymeleafFrs :: customAlertFragment}"></div>

    <main id="mainAreaID" class="main min-vh-100 mx-auto">

        <!-- Tabs navigation panel -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- for table side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#tableBookingHolderDiv" role="tab"
                    aria-controls="tableBookingHolderDiv" aria-selected="true">Table</a>
            </li>
            <!-- for form side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="form-tab" data-bs-toggle="tab" href="#formBookingHolderDiv" role="tab"
                    aria-controls="formBookingHolderDiv" aria-selected="false" onclick="setBookingStatusAuto()">Form</a>
            </li>
        </ul>

        <!-- Tabs content -->
        <div class="tab-content mt-1" id="myTabContent">

            <!-- Table tab  -->
            <div id="tableBookingHolderDiv" class="tab-pane fade show active table-container p-4 rounded-3"
                role="tabpanel" aria-labelledby="table-tab">
                <!-- a table will be dynamically generated in here -->
            </div>

            <!-- Form tab -->
            <div class="tab-pane fade" id="formBookingHolderDiv" role="tabpanel" aria-labelledby="form-tab">
                <div class="card mx-auto" style="width: 1100px;">
                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0">Booking Management Form</h3>
                    </div>
                    <div class="card-body" style="background-color: ivory;">

                        <!-- form starts -->
                        <form id="formBooking" class="" onsubmit="return false">

                            <!-- Basic Info -->
                            <fieldset class="border border-dark p-4 mb-4 bg-light">
                                <legend class="float-none w-auto px-2 text-primary">Booking Information</legend>

                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="row mb-2">

                                            <div class="col-md-3">
                                                <label for="inputBookingCode" class="fw-bold form-label mb-0">Booking
                                                    ID<span class="text-danger"> * </span> :</label>
                                                <input id="inputBookingCode" type="text"
                                                    class="  form-control form-input" disabled
                                                    onkeyup="inputValidatorText(this,'','booking','bookingcode')"
                                                    required>
                                            </div>

                                            <div class="col-6">
                                                <label for="selectBookedPackage" class="fw-bold">Booked Package <span
                                                        class="text-danger"> * </span>: </label>
                                                <select id="selectBookedPackage" class="form-control form-select"
                                                    disabled
                                                    onchange="dynamicSelectValidator(this , 'booking','bookedpackage_id')"
                                                    required>
                                                </select>
                                            </div>

                                            <div class="col-3">
                                                <label for="selectBasedInquiry" class="fw-bold">Based Inquiry <span
                                                        class="text-danger"> * </span>: </label>
                                                <select id="selectBasedInquiry" class="form-control form-select"
                                                    disabled
                                                    onchange="dynamicSelectValidator(this , 'booking','basedinquiry_id')"
                                                    required>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="row mb-2">
                                            <div class="col-6">
                                                <label for="inputClientName" class="fw-bold form-label mb-0"> Client
                                                    Name <span class="text-danger"> * </span>
                                                    :</label>
                                                <input id="inputClientName" type="text" class="form-control form-input"
                                                    disabled
                                                    onkeyup="inputValidatorText(this,'','booking','clientname')"
                                                    required>
                                            </div>

                                            <div class="col-6">
                                                <label class="fw-bold mb-0" for="inputClientPassport">Passport No <span
                                                        class="text-danger"> * </span>:</label>
                                                <input id="inputClientPassport" type="text"
                                                    class="form-control form-input" disabled
                                                    onkeyup="inputValidatorText(this,'','booking','clientpassport')"
                                                    required>
                                            </div>

                                        </div>

                                        <div class="row mb-2">

                                            <div class="col-6">
                                                <label class="fw-bold  mb-0" for="inputClientEmail">Email <span
                                                        class="text-danger"> * </span>:</label>
                                                <input id="inputClientEmail" type="email"
                                                    class="form-control form-input" disabled
                                                    onkeyup="inputValidatorText(this,'','booking','clientemail')"
                                                    required>
                                            </div>

                                            <div class="col-3">
                                                <label class="fw-bold  mb-0" for="inputClientContact">Contact <span
                                                        class="text-danger"> * </span>:</label>
                                                <input id="inputClientContact" type="text"
                                                    class="form-control form-input" disabled
                                                    onkeyup="inputValidatorText(this,'','booking','clientcontact')"
                                                    required>
                                            </div>

                                            <div class="col-3">
                                                <label class="fw-bold mb-0" for="inputClientContact2">Contact 2:</label>
                                                <input id="inputClientContact2" type="text"
                                                    class="form-control form-input" disabled
                                                    onkeyup="inputValidatorText(this,'','booking','clientcontact2')">
                                            </div>                                           


                                        </div>


                                    </div>

                            </fieldset>

                            <!-- financial Info -->
                            <fieldset class="border border-dark p-4 mb-4 bg-light">
                                <legend class="float-none w-auto px-2 text-primary">Financial Information</legend>

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="row mb-2">

                                            <div class="col-3">
                                                <label class="fw-bold  mb-0" for="inputPackagePrice">Package Price <span
                                                        class="text-danger"> * </span>:</label>

                                                <div class="input-group">
                                                    <span class="input-group-text p-1 pb-0">
                                                        <h6 class="my-auto">LKR</h6>
                                                    </span>
                                                    <input type="text" id="inputPackagePrice"
                                                        class="form-control form-input w-85 p-1 text-center" disabled
                                                        onkeyup="inputValidatorText(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','booking','packageprice')"
                                                        onblur="insertDecimals(this);">
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <label class="fw-bold  mb-0" for="inputAdvancementAmount">Advancement
                                                    Amount <span class="text-danger"> * </span>:</label>

                                                <div class="input-group">
                                                    <span class="input-group-text p-1 pb-0">
                                                        <h6 class="my-auto">LKR</h6>
                                                    </span>
                                                    <input type="text" id="inputAdvancementAmount"
                                                        class="form-control form-input w-85 p-1 text-center" disabled
                                                        onkeyup="inputValidatorText(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','booking','advancementamount')"
                                                        onblur="insertDecimals(this);">
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <label class="fw-bold  mb-0" for="inputTotalPaidAmount">Total Paid
                                                    Amount <span class="text-danger"> * </span>:</label>

                                                <div class="input-group">
                                                    <span class="input-group-text p-1 pb-0">
                                                        <h6 class="my-auto">LKR</h6>
                                                    </span>
                                                    <input type="text" id="inputTotalPaidAmount"
                                                        class="form-control form-input w-85 p-1 text-center" disabled
                                                        onkeyup="inputValidatorText(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','booking','totalpaidamount')"
                                                        onblur="insertDecimals(this);">
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <label class="fw-bold  mb-0" for="inputBalance">Balance <span
                                                        class="text-danger"> * </span>:</label>

                                                <div class="input-group">
                                                    <span class="input-group-text p-1 pb-0">
                                                        <h6 class="my-auto">LKR</h6>
                                                    </span>
                                                    <input type="text" id="inputBalance"
                                                        class="form-control form-input w-85 p-1 text-center" disabled
                                                        onkeyup="inputValidatorText(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','booking','balance')"
                                                        onblur="insertDecimals(this);">
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                            </fieldset>

                            <!-- Booking Timeline -->
                            <fieldset class="border border-dark p-4 mb-4 bg-light">
                                <legend class="float-none w-auto px-2 text-primary">Booking Timeline</legend>

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="row mb-2">

                                            <div class="col-4">
                                                <label for="bookingStartDate" class="fw-bold form-label mb-0">Start Date
                                                    <span class="text-danger"> * </span> : </label>
                                                <input id="bookingStartDate" type="date"
                                                    class="  form-control form-input" disabled
                                                    onchange="inputValidatorText(this, '' ,'booking' , 'starrtdate');"
                                                    onkeydown="return false">
                                            </div>

                                            <div class="col-4">
                                                <label for="bookingEndDate" class="fw-bold form-label mb-0">End Date
                                                    <span class="text-danger"> * </span> : </label>
                                                <input id="bookingEndDate" type="date" class="  form-control form-input"
                                                    disabled onkeydown="return false"
                                                    oninput="inputValidatorText(this, '' ,'booking' , 'enddate'); getAvailableCompanyDrivers();">
                                            </div>

                                            <div class="col-1"></div>

                                            <div class="col-3">
                                                <button type="button" class="btn btn-primary mt-4"
                                                    onclick="getAvailableCompanyDrivers(); getAvailableGuideList();">
                                                    Get Available Resources
                                                </button>
                                            </div>

                                        </div>
                                    </div>

                            </fieldset>

                            <!-- resources assign rows -->
                            <fieldset class="border border-dark p-4 mb-4 bg-light">
                                <legend class="float-none w-auto px-2 text-primary">Assign Vehicle/Driver/Guide</legend>

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="row mt-0 mx-auto" id="checkAvailabilitySection">

                                            <div class="row mt-2">
                                                <div class="col-4 text-center text-primary fw-bold" style="width:33.3%">
                                                    Vehicle
                                                </div>
                                                <div class="col-4 text-center text-primary fw-bold" style="width:32.3%">
                                                    Driver
                                                </div>
                                                <div class="col-4 text-center text-primary fw-bold" style="width:33.3%">
                                                    Guide
                                                </div>
                                            </div>

                                            <!-- vehicle -->
                                            <div class="col-4 border border-success px-2 pb-2" style="width:33.3%">

                                                <!-- 2 checkboxes -->
                                                <div class="row mt-1">
                                                    <div class="input-group my-auto" id="vehicleSourceRadioSection">
                                                        <!-- CB 1 -->
                                                        <input type="radio" checked class="btn-check"
                                                            id="companyOwnVehiRadio" autocomplete="off"
                                                            name="bookingVehiSource"
                                                            onchange="changesBasedOnVehicleSource(); ">

                                                        <label
                                                            class="btn btn-outline-btn btn-outline-success rounded-start"
                                                            for="companyOwnVehiRadio" style="width:45%">
                                                            Company Vehicles
                                                        </label>

                                                        <!--CB 2  -->
                                                        <input type="radio" class="btn-check" id="rentalVehiRadio"
                                                            autocomplete="off" name="bookingVehiSource"
                                                            onchange="changesBasedOnVehicleSource();">

                                                        <label class="ms-1 btn btn- btn btn-outline-warning "
                                                            for="rentalVehiRadio" style="width:45%">Rental Service's
                                                            Vehicles
                                                        </label>
                                                    </div>

                                                </div>

                                                <!-- if from company -->
                                                <div class="" id="companyVehicleSection">
                                                    <div class="row mt-1 ">
                                                        <!-- preferred vehi type -->
                                                        <div class="col-4 my-auto">
                                                            <label for="bookingVehitype" class="form-label mb-0">Type
                                                                :</label>
                                                        </div>
                                                        <!-- available vehi select karana query eka run wenna one meke onchange ekedi 💥💥💥 -->
                                                        <div class="col-8 my-auto">
                                                            <select id="bookingVehitype"
                                                                class="form-control form-select mb-2"
                                                                onchange=" getAvailableCompVehicles(); availableVehicleSelect.disabled=false;"></select>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <!-- available vehicles -->
                                                    <div class="row mt-2">
                                                        <div class="col-12">
                                                            <label for="availableVehicleSelect"
                                                                class="form-label mb-0">Select
                                                                Vehicle
                                                                :</label>

                                                            <select id="availableVehicleSelect"
                                                                class="form-control form-select mb-2"
                                                                onchange="selectDynamicVal(this, '' , 'booking' , 'vehicle_id');"></select>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- if rental -->
                                                <div class="row mt-1 pb-2 d-none" id="rentedVehicleSection">

                                                    <div class="row mt-1 ">
                                                        <!-- rental vehi type -->
                                                        <div class="col-4 my-auto">
                                                            <label for="rentalVehitype" class="form-label mb-0">Type
                                                                :</label>
                                                        </div>
                                                        <div class="col-8 my-auto">
                                                            <select id="rentalVehitype"
                                                                class="form-control form-select mb-2"></select>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <!-- select previously rented vehicles -->
                                                    <div class="col-12 mt-1">
                                                        <label for="rentalVehiSelect" class="form-label mb-0">Rented
                                                            Vehicles
                                                            :</label>

                                                        <select id="rentalVehiSelect"
                                                            class="form-control form-select mb-2"
                                                            onkeyup="inputFieldValidator(this, '', booking, 'vehicle_id');"></select>
                                                    </div>

                                                    <!-- button to add new rented vehis -->
                                                    <div class="row mt-2" id="rented">
                                                        <div class="col-8 mx-auto">
                                                            <button type="button" id="addNewRentalVehiModalBtn"
                                                                class="btn btn-outline-primary"
                                                                style="pointer-events: all;" data-bs-toggle="modal"
                                                                data-bs-target="#newRentelVehiModal">Add
                                                                New Rented
                                                                Vehicle</button>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <!-- vehicle col ends-->

                                            <!-- driver -->
                                            <div class="col-4 border border-success ms-1 me-1" style="width:32.3%">

                                                <!-- 2 checkboxes -->
                                                <div class="row mt-1">
                                                    <div class="input-group my-auto">
                                                        <!-- CB 1 -->
                                                        <input type="radio" checked class="btn-check"
                                                            id="companyOwnDriver" autocomplete="off"
                                                            name="bookingDriverSource"
                                                            onchange="changesBasedOnDriverSource();">

                                                        <label
                                                            class="btn btn-outline-btn btn-outline-success rounded-start"
                                                            for="companyOwnDriver" style="width:45%">
                                                            Use Company Driver
                                                        </label>

                                                        <!--CB 2  -->
                                                        <input type="radio" class="btn-check" id="rentalDriver"
                                                            autocomplete="off" name="bookingDriverSource"
                                                            onchange="changesBasedOnDriverSource();">

                                                        <label class="ms-1 btn btn- btn btn-outline-warning "
                                                            for="rentalDriver" style="width:45%">Use External Driver
                                                        </label>
                                                    </div>

                                                </div>

                                                <!-- if from company -->
                                                <!-- available drivers -->
                                                <div class="row mt-1" id="companyDriverSection">
                                                    <div class="col-12">
                                                        <label for="availableDriverSelect"
                                                            class="form-label mb-0">Select Driver
                                                            :</label>

                                                        <select id="availableDriverSelect"
                                                            class="form-control form-select mb-2"
                                                            onkeyup="inputFieldValidator(this, '', booking, 'driver');"></select>
                                                        </select>

                                                    </div>
                                                </div>

                                                <!-- if rented -->
                                                <!-- external driver name -->
                                                <div class="row mt-1 d-none" id="externalDriverSection">
                                                    <div class="col-12 mt-1">
                                                        <label for="externalDriverSelect"
                                                            class="form-label mb-0">Previous
                                                            External Drivers
                                                            :</label>

                                                        <select id="externalDriverSelect"
                                                            class="form-control form-select mb-2"
                                                            onchange="selectDynamicVal(this, '', booking, 'external_driver');"></select>
                                                    </div>

                                                    <!-- add new driver modal button -->
                                                    <div class="col-8 mt-2 mx-auto">
                                                        <button type="button" id="addNewExternalDriverModalBtn"
                                                            class="btn btn-outline-primary" style="pointer-events: all;"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#newExternalDriverOrGuideModal">Add
                                                            New External
                                                            Driver</button>
                                                    </div>
                                                </div>


                                            </div>
                                            <!-- driver col ends-->

                                            <!-- guide -->
                                            <div class="col-4 border border-success" style="width:33.3%">
                                                <!-- 2 checkboxes -->
                                                <div class="row mt-1">
                                                    <div class="input-group my-auto">
                                                        <!-- CB 1 -->
                                                        <input type="radio" checked class="btn-check"
                                                            id="companyOwnGuide" autocomplete="off"
                                                            name="bookingGuideSource"
                                                            onchange="changesBasedOnGuideSource();">

                                                        <label
                                                            class="btn btn-outline-btn btn-outline-success rounded-start"
                                                            for="companyOwnGuide" style="width:45%">
                                                            Use Company Guide
                                                        </label>

                                                        <!--CB 2  -->
                                                        <input type="radio" class="btn-check" id="rentalGuides"
                                                            autocomplete="off" name="bookingGuideSource"
                                                            onchange="changesBasedOnGuideSource();">

                                                        <label class="ms-1 btn btn- btn btn-outline-warning "
                                                            for="rentalGuides" style="width:45%">Use External Driver
                                                        </label>
                                                    </div>

                                                </div>

                                                <!-- if from company -->
                                                <!-- available guides -->
                                                <div class="row mt-1" id="companyGuideSection">
                                                    <div class="col-12">
                                                        <label for="availableGuideSelect" class="form-label mb-0">Select
                                                            Guide
                                                            :</label>

                                                        <select id="availableGuideSelect"
                                                            class="form-control form-select mb-2"
                                                            onkeyup="inputFieldValidator(this, '', booking, 'guide');"></select>
                                                        </select>

                                                    </div>
                                                </div>

                                                <!-- if rented -->
                                                <!-- external Guide name -->
                                                <div class="row mt-1 d-none" id="externalGuideSection">
                                                    <div class="col-12 mt-1">
                                                        <label for="externalGuideSelect"
                                                            class="form-label mb-0">Previous
                                                            External Guides
                                                            :</label>

                                                        <select id="externalGuideSelect"
                                                            class="form-control form-select mb-2"
                                                            onchange="selectDynamicVal(this, '', booking, 'external_guide');"></select>
                                                    </div>

                                                    <!-- add new Gudie modal button -->
                                                    <div class="col-8 mt-2 mx-auto">
                                                        <button type="button" id="addNewExternalGuideModalBtn"
                                                            class="btn btn-outline-primary" style="pointer-events: all;"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#newExternalDriverOrGuideModal">Add
                                                            New External
                                                            Guide</button>
                                                    </div>
                                                </div>


                                            </div>
                                            <!-- guide col ends-->
                                        </div>
                                    </div>

                            </fieldset>

                            <!--  Additional Info -->
                            <fieldset class="border border-dark p-4 mb-4 bg-light">
                                <legend class="float-none w-auto px-2 text-primary">Status & Note</legend>
                                <div class="row">

                                    <div class="col-6">
                                        <div class="row mb-1">
                                            <div class="col-12">
                                                <label for="selectBookingStatus" class="fw-bold form-label mb-0">
                                                    Status <span class="text-danger"> * </span>
                                                    :</label>

                                                <select id="selectBookingStatus" class="form-control form-select"
                                                    required
                                                    onchange="staticSelectValidator(this , 'booking' , 'booking_status')">
                                                    <option value="" selected disabled>Please Select Status </option>
                                                    <option value="ifDeleted" class="d-none"> Deleted </option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-6">
                                        <label for="inputNote" class="fw-bold">Additional Information</label>
                                        <textarea id="inputNote" class="form-control" rows="5"
                                            placeholder="Enter Any Additional Information"
                                            onkeyup="inputValidatorText(this,'','booking','note')"></textarea>
                                    </div>


                                </div>
                            </fieldset>


                            <!-- Form Buttons -->
                            <div class="row mt-3 mb-2">

                                <div class="col-4">
                                    <button type="reset" class="btn-clear fw-bold" onclick="refreshPaymentForm();">Reset
                                        Form</button>
                                </div>

                                <div class="col-8 text-end">
                                    <button type="button" id="bookingUpdateBtn" class=" btn-update fw-bold "
                                        onclick="updatePayment()">Update Entry</button>

                                    <button type="submit" id="bookingAddBtn" class="btn-add fw-bold"
                                        onclick="addNewPayment()">Add Entry</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>

        <!-- Modal to display full details of a row -->
        <div class="modal fade py-5" id="infoModalVehicle" tabindex="-1" aria-labelledby="infoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content shadow-lg rounded-4">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="infoModalLabel">Yathra Vehicle Record</h5>
                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body bg-light">
                        <div class="container">
                            <!-- Row 1 -->
                            <div class="row mb-4 align-items-start">
                                <!-- Photo -->
                                <div class="col-md-4">
                                    <img id="modalVehiPic" src="images/vehicle.png" alt="Vehicle"
                                        class="img-thumbnail shadow-sm"
                                        style="width: 100%; max-width: 180px; height: auto;">
                                </div>

                                <!-- Type, Name, Number Plate -->
                                <div class="col-md-4">
                                    <p class="fw-bold text-primary mb-0">Vehicle Type:</p>
                                    <p id="modalVehiType" class="mb-2"></p>

                                    <p class="fw-bold text-primary mb-0">Model Name:</p>
                                    <p id="modalVehiModalName" class="mb-2"></p>

                                    <p class="fw-bold text-primary mb-0">Number Plate:</p>
                                    <p id="modalVehiNumberPlate" class="mb-2"></p>
                                </div>

                                <!-- Cost Per KM -->
                                <div class="col-md-4">
                                    <p class="fw-bold text-primary mb-0">Cost Per Kilometer:</p>
                                    <p id="modalVehiCostPerKM" class="mb-2"></p>
                                </div>
                            </div>

                            <!-- Row 2 -->
                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <p class="fw-bold text-primary mb-0">Passenger Seat Count:</p>
                                    <p id="modalVehiPassengerSeatCount" class="mb-2"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold text-primary mb-0">Max Luggage Capacity:</p>
                                    <p id="modalVehiLuggageCapacity" class="mb-2"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold text-primary mb-0">Last Service Date:</p>
                                    <p id="modalVehiLSDate" class="mb-2"></p>
                                </div>
                            </div>

                            <!-- Row 3 -->
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <p class="fw-bold text-primary mb-0">Vehicle Status:</p>
                                    <p id="modalVehiStatus" class="mb-2"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold text-primary mb-0">Additional Information:</p>
                                    <p id="modalVehiNote" class="mb-2"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold text-danger mb-0 d-none" id="modalVehiIfDeleted"></p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Modal Footer -->
                    <div class="modal-footer d-flex justify-content-between bg-light">
                        <button class="btn-print fw-bold" onclick="printVehicleRecord()">
                            Print Record
                        </button>
                        <div>
                            <button id="modalVehiEditBtn" class="btn-edit me-2 fw-bold"
                                onclick="refillVehicleForm(window['currentObject'])">
                                Edit Entry
                            </button>
                            <button id="modalVehiDeleteBtn" class="btn-delete fw-bold"
                                onclick="deleteVehicleRecord(window['currentObject'])">
                                Delete Entry
                            </button>
                            <button id="modalVehiRecoverBtn" class="btn-restore d-none fw-bold"
                                onclick="restoreVehicleRecord()">
                                Restore Entry
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>

</html>