<div class="col-7 me-5">
    <label class="form-label fw-bold mb-0">Package Type <span
            class="text-danger">*</span> :</label>
            
    <div class="row">
        <div class="col-6">
            <input type="radio" class="btn-check" id="customTP"
                autocomplete="off" name="packageType"
                onchange="changesTpkgCustomOrTemp();">
            <label
                class="btn btn-outline-success w-100 rounded-start fw-bold text-uppercase"
                for="customTP">Custom Package</label>
        </div>
        <div class="col-6">
            <input type="radio" class="btn-check" id="forWebSite"
                autocomplete="off" name="packageType"
                onchange="changesTpkgCustomOrTemp();">
            <label
                class="btn btn-outline-primary w-100 rounded-end fw-bold text-uppercase"
                for="forWebSite">Show in Website (Template)</label>
        </div>
    </div>
</div>