<!DOCTYPE html>
<html lang="en">

<head th:replace="~{thymeleafFrs :: commonHeadFr}"></head>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Template Main JS File -->
    <script src="controllerJSs/dashboard.js"></script>

</head>

<body>

    <header th:replace="~{thymeleafFrs :: headerFragment}"></header>
    <aside th:replace="~{thymeleafFrs :: asideFragment}"></aside>
    <div th:replace="~{thymeleafFrs :: userInfoEditModalFragment}"></div>
    <div th:replace="~{thymeleafFrs :: customAlertFragment}"></div>

    <main id="mainAreaID" class="main min-vh-100">

        <!-- resceduled followups reminder -->
        <!--<div id="rescheduledInqSection" class="card p-3 shadow-sm mb-4 mx-auto"
            style="max-width: 500px; border-left: 5px solid #0d6efd;">

            <h6 class="text-primary mb-2 fw-bold">
                <i class="bi bi-calendar-event"></i> Follow-ups Scheduled for Today
            </h6>

            <ul id="rescheduledInqList" class="mb-0 small list-group list-group-flush">
                
            </ul>
        </div>-->

        <div id="inqSummaryCard" class="card p-3 shadow-sm mb-4 "
            style="max-width: 500px; border: 5px solid #0d6efd; cursor: pointer;" onclick="window.location.href='http://localhost:8081/inq'">

            <h6 class="text-primary mb-3 fw-bold">
                <i class="bi bi-list-task"></i> Your Inquiry Summary
            </h6>

            <div class="d-flex justify-content-between mb-3">
                <div>
                    <p class="mb-1 text-success fw-semibold">Currently Working</p>
                    <p id="workingInqCount" class="fs-4 fw-bold mb-0 text-dark">0</p>
                </div>
                <div>
                    <p class="mb-1 text-warning fw-semibold">Newly Assigned</p>
                    <p id="newAssignedCount" class="fs-4 fw-bold mb-0 text-dark">0</p>
                </div>
            </div>

            <hr>

            <!-- Rescheduled follow-ups -->
            <div id="rescheduledInqSection" class="d-none">
                <h6 class="text-primary mb-2 fw-bold">
                    <i class="bi bi-calendar-event"></i> Follow-ups Scheduled for Today
                </h6>

                <ul id="rescheduledInqList" class="mb-0 small list-group list-group-flush">
                    <!-- dynamically filled -->
                </ul>
            </div>

        </div>


        <!-- new inquiries card -->



        <!-- Cards -->
        <!--<div class="row">-->

        <!-- new inquiries card -->
        <!-- <div class="col-md-3">
               
                    <div class="card" onclick="customAlert(test, '#fff', '#007bff', buttonTextColor = '#fff')">
                        <div class="card-body position-relative">
                            <h5 class="card-title py-2">New Inquiries</h5>
                            <span class="badge bg-primary" id="newInquiriesCount"></span>
                        </div>
                    </div>
               
            </div> -->

        <!-- in progress inquiries card -->
        <!--<div class="col-md-3">
                <a href="http://localhost:8080/inquiryresponse" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body position-relative">
                            <h5 class="card-title py-2">Live Inquiries</h5>
                            <span class="badge bg-success" id="inProgressAndNewInqsCount"></span>
                        </div>
                    </div>
                </a>
            </div>-->
        <!--</div>-->
    </main>

    <!-- ======= Footer ======= -->
    <!-- <footer id="footer" class="footer">
<p>ssdsd</p>
footer area test
  </footer> -->

</body>

</html>