<!DOCTYPE html>
<html lang="en">

<head th:replace="~{thymeleafFrs :: commonHeadFr}"></head>

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Template Main JS File -->
    <script src="controllerJSs/dashboard.js"></script>

</head>

<body>

    <header th:replace="~{thymeleafFrs :: headerFragment}"></header>
    <aside th:replace="~{thymeleafFrs :: asideFragment}"></aside>
    <div th:replace="~{thymeleafFrs :: userInfoEditModalFragment}"></div>
    <div th:replace="~{thymeleafFrs :: customAlertFragment}"></div>

    <main id="mainAreaID" class="main min-vh-100">

        <div id="rescheduledInqSection" class="card p-3 shadow-sm mb-4 d-none">
            <h5 class="text-primary mb-2"> Inquiry Followups Rescheduled for Today</h5>
            <ul id="rescheduledInqList" class="mb-0"></ul>
        </div>


        <!-- Cards -->
        <!--<div class="row">-->

        <!-- new inquiries card -->
        <!-- <div class="col-md-3">
               
                    <div class="card" onclick="customAlert(test, '#fff', '#007bff', buttonTextColor = '#fff')">
                        <div class="card-body position-relative">
                            <h5 class="card-title py-2">New Inquiries</h5>
                            <span class="badge bg-primary" id="newInquiriesCount"></span>
                        </div>
                    </div>
               
            </div> -->

        <!-- in progress inquiries card -->
        <!--<div class="col-md-3">
                <a href="http://localhost:8080/inquiryresponse" class="text-decoration-none">
                    <div class="card">
                        <div class="card-body position-relative">
                            <h5 class="card-title py-2">Live Inquiries</h5>
                            <span class="badge bg-success" id="inProgressAndNewInqsCount"></span>
                        </div>
                    </div>
                </a>
            </div>-->
        <!--</div>-->
    </main>

    <!-- ======= Footer ======= -->
    <!-- <footer id="footer" class="footer">
<p>ssdsd</p>
footer area test
  </footer> -->

</body>

</html>