<!DOCTYPE html>
<html lang="en">

<head th:replace="~{thymeleafFrs :: commonHeadFr}"></head>

<head>
    <!-- link dayplan css -->
    <!--<link rel="stylesheet" href="css/dayplan.css">-->

    <!-- link dayplan js -->
    <script src="controllerJSs/dayplan.js"></script>

</head>

<body>
    <header th:replace="~{thymeleafFrs :: headerFragment}"></header>
    <aside th:replace="~{thymeleafFrs :: asideFragment}"></aside>
    <div th:replace="~{thymeleafFrs :: userInfoEditModalFragment}"></div>
    <div th:replace="~{thymeleafFrs :: customAlertFragment}"></div>

    <main id="mainAreaID" class="main">

        <!-- Tabs navigation panel -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- for table side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#tableDayPlanHolderDiv" role="tab"
                    aria-controls="tableDayPlanHolderDiv" aria-selected="true">Table</a>
            </li>
            <!-- for form side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="form-tab" data-bs-toggle="tab" href="#formDayPlanHolderDiv" role="tab"
                    aria-controls="formDayPlanHolderDiv" aria-selected="false">Form</a>
            </li>
        </ul>

        <!-- Tabs content -->
        <div class="tab-content mt-1" id="myTabContent">
            <!-- Table tab  -->
            <div id="tableDayPlanHolderDiv" class="tab-pane fade show active table-container p-4 rounded-3"
                role="tabpanel" aria-labelledby="table-tab">
                <!-- a table will be dynamically generated in here -->
            </div>

            <!-- Form tab -->
            <div class="tab-pane fade" id="formDayPlanHolderDiv" role="tabpanel" aria-labelledby="form-tab">
                <div class="card mx-auto" style="width: 1100px;">
                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0">Day Plan Form</h3>
                    </div>
                    <div class="card-body" style="background-color: ivory;">

                        <form id="formDayPlan" onsubmit="return false">

                            <!-- isTemplate?  -->
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" class="btn-check" id="dpTemplate" autocomplete="off"
                                        name="dpTemplateOrNot" value="true" onchange="handleDayTypeRadio(this)">

                                    <label class="btn btn-outline-success rounded-start" for="dpTemplate">As A
                                        Template</label>
                                </div>

                                <div class="col-6">
                                    <input type="radio" class="btn-check" id="dpNotTemplate" autocomplete="off"
                                        name="dpTemplateOrNot" value="false" onchange="handleDayTypeRadio(this)">

                                    <label class="ms-1 btn btn-outline-warning " for="dpNotTemplate">In A
                                        Package</label>
                                </div>
                            </div>

                            <!-- 3 cbs -->
                            <div class="row border bg-light mt-2">
                                <h5 class="mt-2 mb-1">Day Type</h5>

                                <div class="input-group mt-2 mb-2">

                                    <!-- CB 1 -->
                                    <input type="radio" class="btn-check" id="firstDayCB" autocomplete="off"
                                        name="dpDayType" value="FD" onchange="selectDayType(this);">

                                    <label class="btn btn-outline-success w-33 rounded-start" for="firstDayCB">First
                                        Day</label>

                                    <!--CB 2  -->
                                    <input type="radio" class="btn-check" id="middleDayCB" autocomplete="off"
                                        name="dpDayType" value="MD" onchange="selectDayType(this);">

                                    <label class="ms-1 btn btn-outline-warning w-33" for="middleDayCB">Middle
                                        Day</label>

                                    <!-- CB 3 -->
                                    <input type="radio" class="btn-check" id="lastDayCB" autocomplete="off"
                                        name="dpDayType" value="LD" onchange="selectDayType(this);">

                                    <label class="btn ms-1 btn-outline-danger w-33" for="lastDayCB">Last Day</label>
                                </div>

                            </div>

                            <!-- title -->
                            <div class="row mt-1">
                                <div class="col-8">
                                    <label for="dpTitle" class="form-label mb-0">Title :</label>

                                    <input id="dpTitle" class="form-control form-input"
                                        onkeyup="inputFieldValidator(this, '', 'dayplan' , 'daytitle')">
                                </div>

                                <div class="col-4 d-none">
                                    <label for="dpCode" class="form-label mb-0">Code <span><small
                                                class="text-info">(This was generated
                                                automatically)</small></span>
                                        :</label>

                                    <input id="dpCode" class="form-control form-input" disabled>
                                </div>
                            </div>

                            <!-- accordion for visiting places/stays/lunch -->
                            <div class="mb-2 w-100 border accordion accordion-flush mt-2" id="accordionForVPs">

                                <div class="accordion-item ">

                                    <h5 class="accordion-header">

                                        <button class="p-1 accordion-button collapsed fw-bold " type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flushCollapsVPs"
                                            aria-expanded="false" aria-controls="flushCollapsVPs">

                                            <h5 class="text-primary"> Starting/Visiting/Ending Locations : Click to
                                                view
                                            </h5>
                                        </button>
                                    </h5>

                                    <div id="flushCollapsVPs" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionForVPs">

                                        <div class="accordion-body ">

                                            <!-- starting points -->
                                            <div class="row border mt-2 mb-2 pb-2 bg-light" id="startingPointDivId">
                                                <h5 class="mt-2 mb-1">Start / Pickup Location</h5>

                                                <!-- province & district -->
                                                <div class="row">

                                                    <!-- select province -->
                                                    <div class="col-6">
                                                        <label for="selectDPStartProv" class="form-label mb-1">Province
                                                            :</label>
                                                        <select id="selectDPStartProv"
                                                            class="form-control form-select mb-2"
                                                            onchange="getDistByProvince(selectDPStartProv,selectDPStartDist)"></select>
                                                    </div>

                                                    <!-- select district -->
                                                    <div class="col-6">
                                                        <label for="selectDPStartDist" class="form-label mb-1">District
                                                            :</label>
                                                        <select id="selectDPStartDist" class="form-select"
                                                            onchange="getStayByDistrict(selectDPStartDist,dpStartStaySelect); selectDynamicVal(this,'','dayplan','start_district_id');"></select>
                                                    </div>
                                                </div>



                                            </div>

                                            <!-- visiting places -->
                                            <div class="row border mt-2 mb-2 pb-2 bg-light">
                                                <h5 class="mt-2 mb-1">List of Visiting Places to Covered in This Day
                                                </h5>

                                                <div class="row">
                                                    <!-- select province -->
                                                    <div class="col-6">
                                                        <label for="selectVPProv" class="form-label mb-1">Province
                                                            :</label>
                                                        <select id="selectVPProv" class="form-control form-select mb-2"
                                                            onchange="getDistByProvince(selectVPProv,selectVPDist); "></select>
                                                    </div>

                                                    <!-- select district -->
                                                    <div class="col-6">
                                                        <label for="selectVPDist" class="form-label mb-1">District
                                                            :</label>
                                                        <select id="selectVPDist" class="form-select"
                                                            onchange="selectVPDist.style.border='2px solid green'; getVPlacesByDistrict(); "></select>
                                                    </div>
                                                </div>

                                                <div class="row mt-2">

                                                    <div class="col-5">

                                                        <label for="allVPs" class="form-label">All Places</label>

                                                        <!-- LEFT SELECT -->
                                                        <select class="form-select" size="8" id="allVPs"></select>


                                                    </div>


                                                    <div class="col-2">

                                                        <div class="row mt-5">
                                                            <button class="btn btn-primary fw-bold  btn-pill"
                                                                id="passOne" onclick="addOne()"> + </button>
                                                        </div>

                                                        <div class="row mt-2">
                                                            <button class="btn btn-dark fw-bold" id="passAll"
                                                                onclick="addAll()">
                                                                Add
                                                                All </button>
                                                        </div>

                                                        <div class="row mt-2">
                                                            <button class="btn btn-danger fw-bold "
                                                                id="removeSelectedOne" onclick="removeOne()"> -
                                                            </button>

                                                        </div>

                                                        <div class="row mt-2">
                                                            <button class="btn btn-success fw-bold "
                                                                id="removeSelectedAll" onclick="removeAll()">
                                                                Remove All </button>
                                                        </div>
                                                    </div>

                                                    <!-- RIGHT SELECT -->
                                                    <div class="col-5">

                                                        <label for="selectedVPs" class="form-label">Selected
                                                            Places</label>
                                                        <select size="8" id="selectedVPs" class="form-select"></select>

                                                    </div>

                                                </div>

                                            </div>

                                            <!-- lunch -->
                                            <div class="row border mt-2 mb-2 pb-2 bg-light" id="lunchPlaceDivId">
                                                <h5 class="mt-2 mb-1">Lunch :</h5>

                                                <!--lunch province & district -->
                                                <div class="row">

                                                    <!-- select province -->
                                                    <div class="col-6">
                                                        <label for="selectLPProv" class="form-label mb-1">Province
                                                            :</label>
                                                        <select id="selectLPProv" class="form-control form-select mb-2"
                                                            onchange="getDistByProvince(selectLPProv,selectLPDist);"></select>
                                                    </div>

                                                    <!-- select district -->
                                                    <div class="col-6">
                                                        <label for="selectLPDist" class="form-label mb-1">District
                                                            :</label>
                                                        <select disabled id="selectLPDist" class="form-select"
                                                            onchange="getLunchHotelByDistrict(selectLPDist,selectDPLunch)"></select>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <!-- select lunch hotel -->
                                                    <div class="col-6">
                                                        <label for="selectDPLunch" class="form-label mb-1">Lunch
                                                            Hotel:
                                                            :</label>
                                                        <select id="selectDPLunch" class="form-select"
                                                            onchange="selectDynamicVal(this,'','dayplan','lunch_hotel_id'); "></select>
                                                    </div>

                                                </div>

                                            </div>

                                            <!-- END points -->
                                            <div class="row border mt-2 mb-2 pb-2 bg-light" id="endPointDivId">
                                                <h5 class="mt-2 mb-1">End / Drop-off Location</h5>

                                                <!--END province & district -->
                                                <div class="row">

                                                    <!-- select province -->
                                                    <div class="col-6">
                                                        <label for="selectDPEndProv" class="form-label mb-1">Province
                                                            :</label>
                                                        <select id="selectDPEndProv"
                                                            class="form-control form-select mb-2"
                                                            onchange="getDistByProvince(selectDPEndProv,selectDPEndDist);"></select>
                                                    </div>

                                                    <!-- select district -->
                                                    <div class="col-6">
                                                        <label for="selectDPEndDist" class="form-label mb-1">District
                                                            :</label>
                                                        <select id="selectDPEndDist" class="form-select"
                                                            onchange="getStayByDistrict(selectDPEndDist,selectDPEndStay); selectDynamicVal(this,'','dayplan','end_district_id');"></select>
                                                    </div>
                                                </div>

                                                <!--END accomadation -->
                                                <div class="row">

                                                    <!-- if a hotel SELECT-->
                                                    <div class="col-6">

                                                        <label for="selectDPEndStay"
                                                            class="form-label mb-1">Accomadation :</label>
                                                        <select id="selectDPEndStay" class="form-select" onchange="selectDynamicVal(this,'','dayplan','end_stay_id'); if (this.value != null) {
                                            endLocationText.disabled = true; endLocationText.value ='';  dayplan.endlocation = null;
                                        };"></select>
                                                    </div>


                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- accordion for cost related details -->
                            <div class="mb-2 w-100 border accordion accordion-flush mt-2" id="accordionForDPCosts">

                                <div class="accordion-item ">

                                    <h5 class="accordion-header">

                                        <button class="p-1 accordion-button collapsed fw-bold collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flushCollapsDPCosts"
                                            aria-expanded="false" aria-controls="flushCollapsDPCosts">

                                            <h5 class="text-primary"> Daily Costs :
                                                Click to view
                                            </h5>
                                        </button>
                                    </h5>

                                    <div id="flushCollapsDPCosts" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionForDPCosts">

                                        <div class="accordion-body bg-light">

                                            <!-- test total ticket cost for the whole day -->
                                            <h5 class="fw-bold">Total Tickets Cost(per Entity)</h5>
                                            <div class="row">
                                                <div class="col-6 border">
                                                    <div class="row mt-1 mb-3">
                                                        <!-- Local ADULT -->
                                                        <div class="col-6">

                                                            <label class="form-label mb-0 fw-bold text-success"
                                                                for="dpTotalLocalAdultTktCost">Local
                                                                Adult</label>

                                                            <div class="input-group">
                                                                <span class="input-group-text p-1 pb-0">
                                                                    <h6>LKR</h6>
                                                                </span>
                                                                <input disabled type="text"
                                                                    id="dpTotalLocalAdultTktCost"
                                                                    class="form-control form-input w-85 p-1 text-center"
                                                                    placeholder=""
                                                                    onchange="inputFieldValidator(this,'','dayplan','totallocaladultticketcost')">
                                                            </div>


                                                        </div>

                                                        <!-- Local CHILD -->
                                                        <div class="col-6">

                                                            <label class="form-label mb-0 fw-bold text-success"
                                                                for="dpTotalLocalChildTktCost">Local
                                                                Children</label>

                                                            <div class="input-group">
                                                                <span class="input-group-text p-1 pb-0">
                                                                    <h6>LKR</h6>
                                                                </span>
                                                                <input disabled type="text"
                                                                    id="dpTotalLocalChildTktCost"
                                                                    class="form-control form-input w-85 p-1 text-center"
                                                                    placeholder=""
                                                                    onchange="inputFieldValidator(this,'','dayplan','totallocalchildticketcost')">
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6 border">
                                                    <div class="row mt-1 mb-3 ">
                                                        <!-- Foreign ADULT -->
                                                        <div class="col-6">
                                                            <label class="form-label mb-0 fw-bold text-primary"
                                                                for="dpTotalForeignAdultTktCost">Foreign
                                                                Adult</label>

                                                            <div class="input-group">
                                                                <span class="input-group-text p-1 pb-0">
                                                                    <h6>LKR</h6>
                                                                </span>
                                                                <input disabled type="text"
                                                                    id="dpTotalForeignAdultTktCost"
                                                                    class="form-control form-input w-85 p-1 text-center"
                                                                    placeholder=""
                                                                    onchange="inputFieldValidator(this,'','dayplan','totalforeignadultticketcost')">
                                                            </div>
                                                        </div>

                                                        <!-- foreign CHILD -->
                                                        <div class="col-6">
                                                            <label class="form-label mb-0 fw-bold text-primary"
                                                                for="dpTotalForeignChildTktCost">Foreign
                                                                Children</label>

                                                            <div class="input-group">
                                                                <span class="input-group-text p-1 pb-0">
                                                                    <h6>LKR</h6>
                                                                </span>
                                                                <input disabled type="text"
                                                                    id="dpTotalForeignChildTktCost"
                                                                    class="form-control form-input w-85 p-1 text-center"
                                                                    placeholder=""
                                                                    onchange="inputFieldValidator(this,'','dayplan','totalforeignchildticketcost')">
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                            <!-- for other daily costs -->
                                            <div class="row mt-2 mb-2 pb-2 ">

                                                <div class="col-3">
                                                    <!-- total vehicle parking fee -->
                                                    <label class="form-label mb-0" for="dpTotalVehiParkingCost">Total
                                                        Parking Fees
                                                    </label>

                                                    <div class="input-group">
                                                        <span class="input-group-text p-1 pb-0">
                                                            <h6>LKR</h6>
                                                        </span>
                                                        <input disabled type="text" id="dpTotalVehiParkingCost"
                                                            class="form-control form-input w-85 p-1 text-center"
                                                            placeholder="" oninput="">
                                                    </div>
                                                </div>



                                                <div class="col-3">

                                                    <!-- total cost for day -->
                                                    <label class="form-label mb-0" for="dpTotalCostForToday">Total
                                                        Cost For Day
                                                    </label>

                                                    <div class="input-group">
                                                        <span class="input-group-text p-1 pb-0">
                                                            <h6>LKR</h6>
                                                        </span>
                                                        <input disabled type="text" id="dpTotalCostForToday"
                                                            class="form-control form-input w-85 p-1 text-center"
                                                            placeholder="">
                                                    </div>

                                                    <!-- totallocostfortoday -->
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- note and status and based inq-->
                            <div class="row border mt-2 mb-2 pb-2 bg-light">
                                <div class="col-7">
                                    <label for="dpNote" class="form-label mb-1">Note :</label>

                                    <textarea class="form-control" placeholder=" " id="dpNote"
                                        onkeyup="inputFieldValidator(this,'','dayplan','note')"
                                        style="height: 100px;"></textarea>
                                </div>

                                <div class="col-5">
                                    <!-- based inquiry -->

                                    <!-- status -->
                                    <div class="row">
                                        <label for="dpSelectStatus" class="form-label mb-1">Status
                                            :</label>
                                        <select id="dpSelectStatus" class="form-select"
                                            onchange="staticSelectValidator(this , 'dayplan' , 'dp_status')">
                                            <option value="" selected disabled> Select Status </option>
                                            <option value="active"> Active </option>
                                            <option value="ifDeleted" class="d-none"> Deleted </option>
                                        </select>

                                    </div>

                                    <!-- total distance covered for thsi day(manual entry) -->
                                    <div class="row mt-1">
                                        <label for="dpTotalKMcount" class="form-label mb-0">Distance
                                            Covered
                                            :
                                        </label>

                                        <div class="input-group">

                                            <input type="text" id="dpTotalKMcount"
                                                class="form-control form-input w-85 p-1 text-center" placeholder=""
                                                onkeyup="inputFieldValidator(this,'','dayplan','kmcountforday')">
                                            <span class="input-group-text p-1 pb-0">
                                                <h6>KM</h6>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Form Buttons -->
                            <div class="row mt-4 mb-2">
                                <div class="col-4">
                                    <button type="reset" class="btn-clear w-50" onclick="refreshDayPlanForm()">Reset
                                        Form</button>
                                </div>
                                <div class="col-8 text-end">
                                    <button type="submit" id="dpUpdateBtn" class="btn-update fw-bold"
                                        onclick="updateDayPlan()">Update Day Plan</button>
                                    <button type="submit" id="dpAddBtn" class="btn-add fw-bold"
                                        onclick="addNewDayPlan()">Add New Day Plan</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal to display full details of a row -->
        <div class="modal fade py-5" id="infoModalDayPlan" tabindex="-1" aria-labelledby="infoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content shadow-lg rounded-4">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="infoModalLabel">Yathra DayPlan Record</h5>
                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"
                            onclick="resetModal()"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div class="container">
                            <!-- DayPlan Image and Basic Info -->
                            <div class="row g-4 align-items-center">

                                <!-- Name and NIC -->
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1">Full Name:</p>
                                    <p id="modalDPFullName" class=" "></p>
                                    <p class="fw-bold mb-1">NIC:</p>
                                    <p id="modalDPNIC" class=" "></p>
                                </div>
                            </div>

                            <!-- Other Details -->
                            <hr>
                            <div class="row g-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">DayPlan Code:</p>
                                    <p id="modalDPCode" class="  mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Designation:</p>
                                    <p id="modalDPDesignation" class="  mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Working Status:</p>
                                    <p id="modalDPStatus" class="  mb-0"></p>
                                </div>
                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Gender:</p>
                                    <p id="modalDPGender" class="  mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Date of Birth:</p>
                                    <p id="modalDPDOB" class="  mb-0"></p>
                                </div>
                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Mobile Number:</p>
                                    <p id="modalDPMobileNum" class="  mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Land Number:</p>
                                    <p id="modalDPLandNum" class="  mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Personal Email:</p>
                                    <p id="modalDPPersonalEmail" class="  mb-0"></p>
                                </div>
                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1">Address:</p>
                                    <p id="modalDPAddress" class="  mb-0"></p>
                                </div>
                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1">Additional Details:</p>
                                    <p id="modalDPNote" class="  mb-0"></p>
                                </div>

                                <div class="col-md-4">
                                    <p id="modalDPIfDeleted" class="text-danger d-none mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer d-flex 
                 justify-content-between bg-light">
                        <button class="btn-print fw-bold" onclick="printDayPlanRecord()">
                            Print Record
                        </button>
                        <div>
                            <button id="modalDPEditBtn" class="btn-edit me-2 fw-bold"
                                onclick="refillDayPlanForm(window['currentObject'])">
                                Edit DayPlan
                            </button>
                            <button id="modalDPDeleteBtn" class="btn-delete fw-bold"
                                onclick="deleteDayPlanRecord(window['currentObject'])">
                                Delete DayPlan
                            </button>
                            <button id="modalDPRecoverBtn" class="btn-restore d-none fw-bold"
                                onclick="restoreDayPlanRecord()">
                                Restore DayPlan
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>

</html>