<!DOCTYPE html>
<html lang="en">

<head th:replace="~{thymeleafFrs :: commonHeadFr}"></head>

<head>
    <!-- link employee css -->
    <link rel="stylesheet" href="css/employee.css">

    <!-- link employee js -->
    <script src="controllerJSs/employee.js"></script>

    <style>
        .table tbody tr {
            transition: all 0.2s ease-in-out;
        }

        .table tbody tr:hover {
            transform: translateX(5px);
            background-color: rgba(0, 0, 0, 0.02);
        }

        .table td {
            vertical-align: middle;
        }
    </style>

</head>

<body>
    <header th:replace="~{thymeleafFrs :: headerFragment}"></header>
    <aside th:replace="~{thymeleafFrs :: asideFragment}"></aside>
    <div th:replace="~{thymeleafFrs :: userInfoEditModalFragment}"></div>

    <main id="mainAreaID" class="main min-vh-100 ">

        <!-- Tabs navigation panel -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- for table side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#tableEmployeeHolderDiv" role="tab"
                    aria-controls="tableEmployeeHolderDiv" aria-selected="true">Table</a>
            </li>
            <!-- for form side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="form-tab" data-bs-toggle="tab" href="#formEmployeeHolderDiv" role="tab"
                    aria-controls="formEmployeeHolderDiv" aria-selected="false" onclick="setEmpStatusAuto()">Form</a>
            </li>
        </ul>

        <!-- Tabs content -->
        <div class="tab-content mt-1" id="myTabContent">
            <!-- Table tab  -->
            <div id="tableEmployeeHolderDiv" class="tab-pane fade show active table-container p-4 bg-light rounded-3"
                role="tabpanel" aria-labelledby="table-tab">
                <!-- a table will be dynamically generated in here -->
            </div>

            <!-- Form tab -->
            <div class="tab-pane fade" id="formEmployeeHolderDiv" role="tabpanel" aria-labelledby="form-tab">
                <div class="card mx-auto" style="width: 1100px;">
                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0">Employee Registration Form</h3>
                    </div>
                    <div class="card-body" style="background-color: ivory;">
                        <form id="formEmployee" onsubmit="return false">

                            <!-- Personal Data Section -->
                            <fieldset class="border border-dark p-4 mb-4 bg-light">
                                <legend class="float-none w-auto px-2 text-primary">Personal Information</legend>

                                <div class="row">
                                    <div class="col-md-8">
                                        <!-- full name -->
                                        <div class="row mb-2">
                                            <div class="col-12">
                                                <label for="inputFullName" class="form-label fw-bold mb-0"> Full Name
                                                    <span class="text-danger"> * </span> :</label>
                                                <input id="inputFullName" type="text" class="form-control"
                                                    placeholder="Enter The Full Name"
                                                    onkeyup="inputValidatorText(this,'^([A-Z][a-z]{2,20}[\\s])+([A-Z][a-z]{2,20})$','employee' , 'fullname')"
                                                    required>
                                            </div>
                                        </div>

                                        <!-- nic, dob , gender -->
                                        <div class="row mt-3">
                                            <!-- nic -->
                                            <div class="col-4">
                                                <label for="inputNIC" class="form-label fw-bold mb-0"> NIC <span
                                                        class="text-danger">
                                                        *
                                                    </span> :</label>
                                                <input id="inputNIC" type="text" class="form-control" required
                                                    onkeyup="inputValidatorText(this,'^[0-9Vv]{10}$', 'employee' , 'nic')"
                                                    placeholder="Enter The NIC Number">
                                            </div>

                                            <!-- dob -->
                                            <div class="col-4">
                                                <label for="dateDateOfBirth" class="form-label fw-bold mb-0"> Date
                                                    of Birth
                                                    <span class="text-danger"> * </span> :</label>
                                                <input type="date" class="form-control mt-0" required
                                                    id="dateDateOfBirth"
                                                    onchange="inputValidatorText(this, '^[0-9]{4}[-][0-9]{2}[-][0-9]{2}$' ,'employee' , 'dob')">
                                            </div>

                                            <!-- gender -->
                                            <div class="col-4">
                                                <label class="form-label fw-bold mb-0"> Gender <span
                                                        class="text-danger">
                                                        * </span>
                                                    :</label>

                                                <div class="row">
                                                    <div class="col-6">
                                                        <input type="radio" class="btn-check" id="radioMale"
                                                            autocomplete="off" name="gender" value="Male"
                                                            onchange="employee.gender = this.value ">

                                                        <label class="btn btn-outline-primary rounded-start"
                                                            for="radioMale" style="width:100px">Male</label>
                                                    </div>

                                                    <div class="col-6">
                                                        <input type="radio" class="btn-check" id="radioFemale"
                                                            autocomplete="off" name="gender" value="Female"
                                                            onchange="employee.gender = this.value ">

                                                        <label class="btn btn-outline-info" for="radioFemale"
                                                            style="width:100px">Female</label>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- photo -->
                                    <div class="col-md-4 mx-auto">

                                        <div class="row mx-auto d-flex align-items-center">
                                            <div class="col-7 ">
                                                <img id="previewEmployeeImg" src="images/employee.png" alt="Preview"
                                                    class="img-thumbnail"
                                                    style="height:150px; width: 150px; border:2px solid #ced4da">
                                                <!-- use accepts 💥💥💥 -->
                                                <input type="file" class="d-none" id="fileInputEmpPhoto"
                                                    onchange="imgValidatorEmpPic(this,'employee','emp_photo',previewEmployeeImg)">

                                            </div>
                                            <div class="col-5">
                                                <button type="button" class="btn btn-primary w-100 mb-2"
                                                    onclick="fileInputEmpPhoto.click();">Select Image</button>

                                                <button type="button" class="btn btn-danger"
                                                    onclick="clearEmpImg();">Clear Image</button>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </fieldset>

                            <!-- Contact Information Section -->
                            <fieldset class="border border-dark p-4 mb-4 bg-light">
                                <legend class="float-none w-auto px-2 text-primary">Contact Information</legend>
                                <div class="row">
                                    <!-- all except address -->
                                    <div class="col-7">
                                        <!-- mobilr and land num -->
                                        <div class="row mb-2">
                                            <!-- mobile num -->
                                            <div class="col-6 ">
                                                <label for="inputMobile" class="form-label fw-bold mb-0"> Mobile Number
                                                    <span class="text-danger"> * </span> :</label>
                                                <input id="inputMobile" type="text" required
                                                    placeholder="Enter The Mobile Number" class="form-control"
                                                    onkeyup="inputValidatorText(this,'^[0][7][1245678][0-9]{7}$' , 'employee' , 'mobilenum')">
                                            </div>

                                            <!-- land num -->
                                            <div class="col-6">
                                                <label for="inputLand" class="form-label fw-bold mb-0"> Land Number
                                                    <span class="text-info">
                                                        * </span> :</label>
                                                <input id="inputLand" type="text" class="form-control"
                                                    placeholder="Enter The Land Number"
                                                    onkeyup="inputValidatorText(this, '^[0][1-9][0-9]{8}$','employee','landnum')">
                                            </div>
                                        </div>

                                        <!-- email -->
                                        <div class="row mt-3">
                                            <div class="col-12">
                                                <label for="inputEmail" class="form-label fw-bold mb-0"> Email <span
                                                        class="text-danger"> *
                                                    </span> :</label>
                                                <input id="inputEmail" type="text" required class="form-control"
                                                    placeholder="Enter The Email Address"
                                                    onkeyup="inputValidatorText(this, '^[A-Za-z0-9\\-\\_]{6,20}[@][a-z]{3,20}[.][a-z]{2,3}$','employee','email')">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- for address -->
                                    <div class="col-5">
                                        <label for="inputAddress" class="form-label fw-bold mb-0"> Address <span
                                                class="text-danger">
                                                * </span> :</label>
                                        <textarea id="inputAddress" class="form-control" required
                                            placeholder="Enter The Address" rows="4"
                                            onkeyup="inputValidatorText(this, '' ,'employee' , 'address')"></textarea>
                                    </div>
                                </div>
                            </fieldset>

                            <!-- Employment Details Section -->
                            <fieldset class="border border-dark p-4 mb-4 bg-light">
                                <legend class="float-none w-auto px-2 text-primary">Job Details</legend>

                                <div class="row mb-2">
                                    <!-- all except note -->
                                    <div class="col-7">
                                        <div class="row">

                                            <!-- designatiom -->
                                            <div class="col-6">
                                                <label for="selectDesignation" class="form-label fw-bold mb-0">
                                                    Designation <span class="text-danger"> * </span> :</label>
                                                <select id="selectDesignation" required class="form-select"
                                                    onchange="dynamicSelectValidator(this,  'employee' , 'designation_id')"></select>
                                            </div>

                                            <!-- status -->
                                            <div class="col-6 ">
                                                <label for="selectEmployeementStatus" class="form-label fw-bold mb-0">
                                                    Employment
                                                    Status
                                                    <span class="text-danger"> * </span> :</label>
                                                <select required id="selectEmployeementStatus" class="form-select"
                                                    onchange="staticSelectValidator(this , 'employee' , 'emp_status')">
                                                    <option value="" selected disabled> Select Status </option>
                                                    <option value="Working"> Working </option>
                                                    <option value="Resigned"> Resigned </option>
                                                    <option value="ifDeleted" class="d-none"> Deleted </option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- note -->
                                    <div class="col-5">
                                        <label for="inputNote" class="form-label fw-bold mb-0"> Additional Information
                                            <span class="text-info">
                                                *
                                            </span> :</label>
                                        <textarea id="inputNote" placeholder="Enter A Note" class="form-control"
                                            rows="6"
                                            onkeyup="inputValidatorText(this, '' ,'employee' , 'note')"></textarea>
                                    </div>
                                </div>
                            </fieldset>

                            <!-- Form Buttons -->
                            <div class="row mt-4 mb-2">
                                <div class="col-4">
                                    <button type="reset" class="btn btn-outline-danger fw-bold w-50"
                                        onclick="refreshEmployeeForm()">Reset</button>
                                </div>
                                <div class="col-8 text-end">
                                    <button type="submit" id="empUpdateBtn" class="btn btn-success fw-bold me-2"
                                        onclick="updateEmployee()">Update</button>
                                    <button type="submit" id="empAddBtn" class="btn btn-primary fw-bold"
                                        onclick="addNewEmployee()">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal to display full details of a row -->
        <div class="modal fade py-5" id="infoModalEmployee" tabindex="-1" aria-labelledby="infoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content shadow-lg rounded-4">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="infoModalLabel">Yathra Employee Record</h5>
                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div class="container">
                            <!-- Employee Image and Basic Info -->
                            <div class="row g-4 align-items-center">
                                <!-- Image -->
                                <div class="col-md-4 text-center">
                                    <img id="modalPreviewEmployeeImg" src="images/employee.png" alt="Preview"
                                        class="img-thumbnail rounded-circle shadow-sm"
                                        style="height: 150px; width: 150px;">
                                </div>
                                <!-- Name and NIC -->
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1">Full Name:</p>
                                    <p id="modalEmpFullName" class="text-muted"></p>
                                    <p class="fw-bold mb-1">NIC:</p>
                                    <p id="modalEmpNIC" class="text-muted"></p>
                                </div>
                            </div>

                            <!-- Other Details -->
                            <hr>
                            <div class="row g-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Employee Code:</p>
                                    <p id="modalEmpCode" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Designation:</p>
                                    <p id="modalEmpDesignation" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Working Status:</p>
                                    <p id="modalEmpStatus" class="text-muted mb-0"></p>
                                </div>
                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Gender:</p>
                                    <p id="modalEmpGender" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Date of Birth:</p>
                                    <p id="modalEmpDOB" class="text-muted mb-0"></p>
                                </div>
                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Mobile Number:</p>
                                    <p id="modalEmpMobileNum" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Land Number:</p>
                                    <p id="modalEmpLandNum" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Personal Email:</p>
                                    <p id="modalEmpPersonalEmail" class="text-muted mb-0"></p>
                                </div>
                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1">Address:</p>
                                    <p id="modalEmpAddress" class="text-muted mb-0"></p>
                                </div>
                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1">Additional Details:</p>
                                    <p id="modalEmpNote" class="text-muted mb-0"></p>
                                </div>

                                <div class="col-md-4">
                                    <p id="modalEmpIfDeleted" class="text-danger d-none mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer d-flex justify-content-between bg-light">
                        <button class="btn btn-outline-primary" onclick="printEmployeeRecord()">
                            Print
                        </button>
                        <div>
                            <button id="modalEmpEditBtn" class="btn btn-outline-success me-2"
                                onclick="refillEmployeeForm(window['currentObject'])">
                                Edit Employee Record
                            </button>
                            <button id="modalEmpDeleteBtn" class="btn btn-outline-danger"
                                onclick="deleteEmployeeRecord(window['currentObject'])">
                                Delete Employee Record
                            </button>
                            <button id="modalEmpRecoverBtn" class="btn btn-outline-primary d-none"
                                onclick="restoreEmployeeRecord()">
                                Restore Employee Record
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>