<!DOCTYPE html>
<html lang="en">

<head th:replace="~{thymeleafFrs :: commonHeadFr}"></head>

<head>
    <!-- link tpkg js -->
    <script src="controllerJSs/pricemods.js"></script>
</head>

<body>

    <header th:replace="~{thymeleafFrs :: headerFragment}"></header>
    <aside th:replace="~{thymeleafFrs :: asideFragment}"></aside>
    <div th:replace="~{thymeleafFrs :: userInfoEditModalFragment}"></div>
    <div th:replace="~{thymeleafFrs :: customAlertFragment}"></div>

    <main id="mainAreaID" class="main mx-auto">

        <!-- Tabs navigation panel -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">

            <!-- for form side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="form-tab" data-bs-toggle="tab" href="#formPriceModsHolderDiv" role="tab"
                    aria-controls="formPriceModsHolderDiv" aria-selected="false">Form</a>
            </li>

            <!-- for history table side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#tablePriceModHistoryHolderDiv"
                    role="tab" aria-controls="tablePriceModHistoryHolderDiv" aria-selected="true">History</a>
            </li>

        </ul>

        <!-- Tabs content -->
        <div class="tab-content mt-1" id="myTabContent">

            <!-- Table tab  -->
            <div id="tablePriceModHistoryHolderDiv" class="tab-pane fade show active table-container p-4 rounded-3"
                role="tabpanel" aria-labelledby="table-tab">
            </div>

            <!-- Form tab -->
            <div class="tab-pane fade" id="formPriceModsHolderDiv" role="tabpanel" aria-labelledby="form-tab">
                <div class="card mx-auto" style="max-width: 700px;">
                    <div class="card-header bg-primary text-white text-center py-2">
                        <h5 class="mb-0">Price Configs Form</h5>
                    </div>
                    <div class="card-body" style="background-color: ivory;">
                        <form id="formPriceMods" onsubmit="return false">

                            <!-- General Pricing Strategy -->
                            <div class="row mb-3">
                                <div class="col">
                                    <h6 class="text-primary fw-bold mb-0">General Pricing Strategy</h6>
                                </div>
                            </div>

                            <!-- Company Profit Margin -->
                            <div class="row mb-2">
                                <div class="col-5 my-auto">
                                    <label for="companyProfitMargin" class="form-label fw-bold mb-0">Tour Package Profit
                                        Margin(%) </label>
                                </div>
                                <div class="col-2">
                                    <input disabled type="number" class="form-control" id="companyProfitMargin"
                                        name="company_profit_margin"
                                        onkeyup="inputValidatorText(this, '', 'pricemod' , 'company_profit_margin'); enableFormUpdateBtn();"
                                        required>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-3">
                                    <button class="btn btn-outline-primary w-100" id="tpkgProfitPercBtn"
                                        onclick="enableInput('companyProfitMargin')">Edit <i
                                            class="bi bi-pencil-square"></i></button>
                                </div>
                            </div>

                            <!-- Discount Configurations -->
                            <div class="row mb-3">
                                <div class="col">
                                    <h6 class="text-primary fw-bold mb-0">Discount Configurations</h6>
                                </div>
                            </div>

                            <!-- Off-Peak Discount -->
                            <div class="row mb-2">
                                <div class="col-5 my-auto">
                                    <label for="offPeakDiscount" class="form-label fw-bold mb-0">Off-Peak Discount
                                        Rate(%)</label>
                                </div>
                                <div class="col-2">
                                    <input disabled type="number" class="form-control" id="offPeakDiscount"
                                        name="off_peak_discount_rate"
                                        onkeyup="inputValidatorText(this, '', 'pricemod', 'off_peak_discount'); enableFormUpdateBtn();"
                                        required>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-3">
                                    <button class="btn btn-outline-primary w-100" id="offPeakDiscountBtn"
                                        onclick="enableInput('offPeakDiscount')">Edit <i
                                            class="bi bi-pencil-square"></i></button>
                                </div>
                            </div>

                            <!-- Loyalty Discount -->
                            <div class="row mb-2">
                                <div class="col-5 my-auto">
                                    <label for="loyaltyDiscount" class="form-label fw-bold mb-0">Loyalty Discount
                                        Rate(%)</label>
                                </div>
                                <div class="col-2">
                                    <input disabled type="number" class="form-control" id="loyaltyDiscount"
                                        name="loyalty_discount_rate"
                                        onkeyup="inputValidatorText(this, '', 'pricemod', 'loyalty_discount'); enableFormUpdateBtn();"
                                        required>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-3">
                                    <button class="btn btn-outline-primary w-100" id="loyaltyDiscountBtn"
                                        onclick="enableInput('loyaltyDiscount')">Edit <i
                                            class="bi bi-pencil-square"></i></button>
                                </div>
                            </div>

                            <!-- Promotional Discount -->
                            <div class="row mb-2">
                                <div class="col-5 my-auto">
                                    <label for="promoDiscount" class="form-label fw-bold mb-0">Promotional Discount
                                        Rate(%)</label>
                                </div>
                                <div class="col-2">
                                    <input disabled type="number" class="form-control" id="promoDiscount"
                                        name="promo_discount_rate"
                                        onkeyup="inputValidatorText(this, '', 'pricemod', 'temp_promo_discount'); enableFormUpdateBtn();"
                                        required>
                                </div>
                                <div class="col-2 d-flex align-items-center">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="promoActiveToggle" checked>
                                        <label id="promoActiveLabel" class="form-check-label" for="promoActiveToggle">Active</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <button class="btn btn-outline-primary w-100" id="promoDiscountBtn"
                                        onclick="enableInput('promoDiscount')">Edit <i
                                            class="bi bi-pencil-square"></i></button>
                                </div>
                            </div>

                            <!-- External Resource Costs -->
                            <div class="row mb-3">
                                <div class="col">
                                    <h6 class="text-primary fw-bold mb-0">External Resource Costs</h6>
                                </div>
                            </div>

                            <!-- External Driver Daily Charge -->
                            <div class="row mb-2">
                                <div class="col-5 my-auto">
                                    <label for="extDriverDailyCharge" class="form-label fw-bold mb-0">External Driver
                                        Daily Charge (LKR)</label>
                                </div>
                                <div class="col-2">
                                    <input disabled type="number" class="form-control" id="extDriverDailyCharge"
                                        name="ext_driver_daily_charge" required
                                        onkeyup="inputValidatorText(this, '', 'pricemod', 'ext_driver_daily_charge'); enableFormUpdateBtn();">
                                </div>
                                <div class="col-2"></div>
                                <div class="col-3">
                                    <button onclick="enableInput('extDriverDailyCharge')"
                                        class="btn btn-outline-primary w-100" id="extDriverChargeBtn">Edit <i
                                            class="bi bi-pencil-square"></i></button>
                                </div>
                            </div>

                            <!-- External Guide Daily Charge -->
                            <div class="row mb-2">
                                <div class="col-5 my-auto">
                                    <label for="extGuideDailyCharge" class="form-label fw-bold mb-0">External Guide
                                        Daily Charge (LKR)</label>
                                </div>
                                <div class="col-2">
                                    <input disabled type="number" class="form-control" id="extGuideDailyCharge"
                                        name="ext_guide_daily_charge" required
                                        onkeyup="inputValidatorText(this, '', 'pricemod', 'ext_guide_daily_charge'); enableFormUpdateBtn();">
                                </div>
                                <div class="col-2"></div>
                                <div class="col-3">
                                    <button onclick="enableInput('extGuideDailyCharge')"
                                        class="btn btn-outline-primary w-100" id="extGuideChargeBtn">Edit <i
                                            class="bi bi-pencil-square"></i></button>
                                </div>
                            </div>

                            <!-- Internal Resource Costs -->
                            <div class="row mb-3">
                                <div class="col">
                                    <h6 class="text-primary fw-bold mb-0">Internal Resource Costs</h6>
                                </div>
                            </div>

                            <!-- Internal Driver Daily Cost -->
                            <div class="row mb-2">
                                <div class="col-5 my-auto">
                                    <label for="intDriverDailyCost" class="form-label fw-bold mb-0">Internal Driver
                                        Daily Cost (LKR)</label>
                                </div>
                                <div class="col-2">
                                    <input disabled type="number" class="form-control" id="intDriverDailyCost"
                                        name="int_driver_daily_cost" required
                                        onkeyup="inputValidatorText(this, '', 'pricemod', 'int_driver_daily_cost'); enableFormUpdateBtn();">
                                </div>
                                <div class="col-2"></div>
                                <div class="col-3">
                                    <button onclick="enableInput('intDriverDailyCost')"
                                        class="btn btn-outline-primary w-100" id="intDriverCostBtn">Edit <i
                                            class="bi bi-pencil-square"></i></button>
                                </div>
                            </div>

                            <!-- Internal Guide Daily Cost -->
                            <div class="row mb-2">
                                <div class="col-5 my-auto">
                                    <label for="intGuideDailyCost" class="form-label fw-bold mb-0">Internal Guide Daily
                                        Cost (LKR)</label>
                                </div>
                                <div class="col-2">
                                    <input disabled type="number" class="form-control" id="intGuideDailyCost"
                                        name="int_guide_daily_cost" required
                                        onkeyup="inputValidatorText(this, '', 'pricemod', 'int_guide_daily_cost'); enableFormUpdateBtn();">
                                </div>
                                <div class="col-2"></div>
                                <div class="col-3">
                                    <button onclick="enableInput('intGuideDailyCost')"
                                        class="btn btn-outline-primary w-100" id="intGuideCostBtn">Edit <i
                                            class="bi bi-pencil-square"></i></button>
                                </div>
                            </div>

                            <!-- last modified date -->
                            <div class="row mb-2">
                                <div class="col-5">
                                    <label for="lastModifiedDateInput" class="form-label fw-bold mb-0">Last Modified
                                        Date</label>
                                </div>
                                <div class="col-7">
                                    <input type="text" class="form-control" id="lastModifiedDateInput"
                                        name="last_modified_date" readonly>
                                </div>

                                <!-- External Fee Status -->
                                <!--<div class="row mb-2">
                                <div class="col-12">
                                    <label for="extFeeStatus" class="form-label fw-bold mb-0">External Fee Status </label>
                                    <select class="form-select" id="extFeeStatus" name="ext_fee_status" required>
                                        <option selected disabled value="">Select status</option>
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                </div>
                            </div>-->

                                <!-- Description -->
                                <!--<div class="row mb-3">
                                <div class="col-12">
                                    <label for="description" class="form-label fw-bold mb-0">Description (Optional):</label>
                                    <textarea class="form-control" id="description" name="description" rows="2"></textarea>
                                </div>
                            </div>-->

                                <!-- 💥💥💥 last updated time and user inputs -->

                                <!-- Form Buttons -->
                                <div class="row mt-4 mb-2">
                                    <!--<div class="col-4">-->
                                    <!--<button type="reset" class="btn-clear fw-bold w-100" onclick="refreshPriceModsForm()">Reset Form</button>-->
                                    <!--</div>-->
                                    <div class="col-12 text-end">
                                        <button type="submit" id="pricemodsUpdateBtn" class="btn-update fw-bold me-2"
                                            onclick="updatePriceMods()">Update Entry</button>
                                        <button type="submit" id="pricemodsAddBtn" class="d-none btn-add fw-bold"
                                            onclick="addNewPriceMods()" disabled>Add Entry</button>
                                    </div>
                                </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </main>


</body>

</html>