<!DOCTYPE html>
<html lang="en">

<head th:replace="~{thymeleafFrs :: commonHeadFr}"></head>

<head>
    <!-- link employee css -->
    <!-- <link rel="stylesheet" href="css/privilege.css"> -->

    <!-- link employee js -->
    <script src="controllerJSs/privilege.js"></script>

</head>

<body>
    <header th:replace="~{thymeleafFrs :: headerFragment}"></header>
    <aside th:replace="~{thymeleafFrs :: asideFragment}"></aside>
    <div th:replace="~{thymeleafFrs :: userInfoEditModalFragment}"></div>

    <main id="mainAreaID" class="main min-vh-100 ">

        <!-- Tabs navigation panel -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- for table side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#tablePriviHolderDiv" role="tab"
                    aria-controls="tablePriviHolderDiv" aria-selected="true">Privilege Table</a>
            </li>
            <!-- for form side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="form-tab" data-bs-toggle="tab" href="#formPriviHolderDiv" role="tab"
                    aria-controls="formPriviHolderDiv" aria-selected="false">Privilege Form</a>
            </li>
        </ul>

        <!-- Tabs content -->
        <div class="tab-content mt-1" id="myTabContent">
            <!-- Table tab  -->
            <div id="tablePriviHolderDiv" class="tab-pane fade show active table-container bg-info bg-opacity-25"
                role="tabpanel" aria-labelledby="table-tab">
                <!-- a table will be dynamically generated in here -->
            </div>

            <!-- Form tab -->
            <div class="tab-pane fade" id="formPriviHolderDiv" role="tabpanel" aria-labelledby="form-tab">
                <div class="card mx-auto w-75">
                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0">Privileges Management Form</h3>
                    </div>
                    <div class="card-body" style="background-color: ivory;">
                        <form id="formPrivilege" onsubmit="return false">
                            <div class="row">

                                <!-- Role and Module Selection - Left Side -->
                                <div class="col-6">
                                    <fieldset class="border border-dark p-4 mb-4 bg-light">
                                        <legend class="float-none w-auto px-2 text-primary">Select Role & Module
                                        </legend>
                                        <!-- select ROLE starts -->
                                        <div class="row ">
                                            <label for="selectRole" class="col-12 col-form-label fw-bold">Role:</label>
                                            <div class="col-12">
                                                <select name="" id="selectRole" class="form-select" required
                                                    onchange="dynamicSelectValidator(this, 'privilege', 'role_id'); generateModuleList();">
                                                </select>
                                            </div>
                                        </div>

                                        <!-- select MODULE starts -->
                                        <div class="row mt-2 mb-4">
                                            <label for="selectModule"
                                                class="col-12 col-form-label fw-bold">Module:</label>
                                            <div class="col-12">
                                                <select name="" id="selectModule" class="form-select" required
                                                    onchange="dynamicSelectValidator(this, 'privilege', 'module_id');">
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <!-- Privileges - Right Side -->
                                <div class="col-6">
                                    <fieldset class="border border-dark p-4 mb-4 bg-light">
                                        <legend class="float-none w-auto px-2 text-primary">Privilege Management
                                        </legend>
                                        <!-- SELECT privilege -->
                                        <div class="row mt-2">
                                            <label class="col-4 col-form-label fw-bold text-center"> SELECT : </label>
                                            <div class="col-8 d-flex gap-2">
                                                <input type="radio" class="btn-check" name="selectPrivi"
                                                    id="selectGrantSwitch" onchange="setPrivileges(this,'prvselect');">
                                                <label
                                                    class="btn btn-outline-success btn-sm flex-grow-1 d-flex align-items-center justify-content-center"
                                                    for="selectGrantSwitch">
                                                    Grant Select
                                                </label>

                                                <input type="radio" class="btn-check" name="selectPrivi"
                                                    id="selectRevokeSwitch" onchange="revokePrivileges(this,'prvselect');">
                                                <label
                                                    class="btn btn-outline-danger btn-sm flex-grow-1 d-flex align-items-center justify-content-center"
                                                    for="selectRevokeSwitch">
                                                    Revoke Select
                                                </label>
                                            </div>
                                        </div>

                                        <!-- INSERT privilege -->
                                        <div class="row mt-2">
                                            <label class="col-4 col-form-label fw-bold text-center"> INSERT : </label>
                                            <div class="col-8 d-flex gap-2">
                                                <input type="radio" class="btn-check" name="insertPrivi"
                                                    id="insertGrantSwitch" onchange="setPrivileges(this,'prvinsert');">
                                                <label
                                                    class="btn btn-outline-success btn-sm flex-grow-1 d-flex align-items-center justify-content-center"
                                                    for="insertGrantSwitch">
                                                    Grant Insert
                                                </label>

                                                <input type="radio" class="btn-check" name="insertPrivi"
                                                    id="insertRevokeSwitch" onchange="revokePrivileges(this,'prvinsert');">
                                                <label
                                                    class="btn btn-outline-danger btn-sm flex-grow-1 d-flex align-items-center justify-content-center"
                                                    for="insertRevokeSwitch">
                                                    Revoke Insert
                                                </label>
                                            </div>
                                        </div>

                                        <!-- UPDATE privilege -->
                                        <div class="row mt-2">
                                            <label class="col-4 col-form-label fw-bold text-center"> UPDATE : </label>
                                            <div class="col-8 d-flex gap-2">
                                                <input type="radio" class="btn-check" name="updatePrivi"
                                                    id="updateGrantSwitch" onchange="setPrivileges(this,'prvupdate');">
                                                <label
                                                    class="btn btn-outline-success btn-sm flex-grow-1 d-flex align-items-center justify-content-center"
                                                    for="updateGrantSwitch">
                                                    Grant Update
                                                </label>

                                                <input type="radio" class="btn-check" name="updatePrivi"
                                                    id="updateRevokeSwitch" onchange="revokePrivileges(this,'prvupdate');">
                                                <label
                                                    class="btn btn-outline-danger btn-sm flex-grow-1 d-flex align-items-center justify-content-center"
                                                    for="updateRevokeSwitch">
                                                    Revoke Update
                                                </label>
                                            </div>
                                        </div>

                                        <!-- DELETE privilege -->
                                        <div class="row mt-2">
                                            <label class="col-4 col-form-label fw-bold text-center"> DELETE : </label>
                                            <div class="col-8 d-flex gap-2">
                                                <input type="radio" class="btn-check" name="deletePrivi"
                                                    id="deleteGrantSwitch" onchange="setPrivileges(this,'prvdelete');">
                                                <label
                                                    class="btn btn-outline-success btn-sm flex-grow-1 d-flex align-items-center justify-content-center"
                                                    for="deleteGrantSwitch">
                                                    Grant Delete
                                                </label>

                                                <input type="radio" class="btn-check" name="deletePrivi"
                                                    id="deleteRevokeSwitch" onchange="revokePrivileges(this,'prvdelete');">
                                                <label
                                                    class="btn btn-outline-danger btn-sm flex-grow-1 d-flex align-items-center justify-content-center"
                                                    for="deleteRevokeSwitch">
                                                    Revoke Delete
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <!-- 3 FORM buttons start -->
                            <div class="row m-2">
                                <div class="col-4 text-start">
                                    <button type="reset" class="btn fw-bold"
                                        onclick="refreshPrivilegeForm()">Clear</button>
                                </div>
                                <div class="col-8 text-end">
                                    <button type="submit" id="priviUpdateBtn" class="btn btn-success fw-bold"
                                        onclick="updatePrivileges()">Update</button>

                                    <button type="submit" id="priviAddBtn" class="btn fw-bold"
                                        onclick="addPrivileges()">Add</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>

</html>