<!DOCTYPE html>
<html lang="en">

<head th:replace="~{thymeleafFrs :: commonHeadFr}"></head>

<head>
    <!-- link stay css -->
    <!-- <link rel="stylesheet" href="resources/css/stay.css"> -->

    <!-- link main JS -->
    <script src="controllerJSs/stay.js"></script>

</head>

<body>
    <header th:replace="~{thymeleafFrs :: headerFragment}"></header>
    <aside th:replace="~{thymeleafFrs :: asideFragment}"></aside>
    <div th:replace="~{thymeleafFrs :: userInfoEditModalFragment}"></div>
    <div th:replace="~{thymeleafFrs :: customAlertFragment}"></div>

    <main id="mainAreaID" class="main min-vh-100 mx-auto">

        <!-- Tabs navigation panel -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- for table side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#tableStayHolderDiv" role="tab"
                    aria-controls="tableStayHolderDiv" aria-selected="true">Table</a>
            </li>
            <!-- for form side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="form-tab" data-bs-toggle="tab" href="#formStayHolderDiv" role="tab"
                    aria-controls="formStayHolderDiv" aria-selected="false" onclick="setStayStatusAuto()">
                    <!-- onclick="setEmpStatusAuto()" -->
                    Form</a>
            </li>
        </ul>

        <!-- Tabs content -->
        <div class="tab-content mt-1" id="myTabContent">

            <!-- Table tab  -->
            <div id="tableStayHolderDiv" class="tab-pane fade show active table-container p-4 bg-light rounded-3"
                role="tabpanel" aria-labelledby="table-tab">
                <!-- a table will be dynamically generated in here -->
            </div>

            <!-- Form tab -->
            <div class="tab-pane fade" id="formStayHolderDiv" role="tabpanel" aria-labelledby="form-tab">

                <div class="card mx-auto" style="width: 1100px;">

                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0">Accomodation Management Form</h3>
                    </div>

                    <div class="card-body" style="background-color: ivory;">

                        <form id="formStay" onsubmit="return false">

                            <!-- Fieldset 1: Name and Type -->
                            <fieldset class="border border-dark p-4 mb-4 bg-light">
                                <legend class="float-none w-auto px-2 text-primary">Basic Details</legend>
                                <div class="row">
                                    <div class="col-7">
                                        <label for="inputStayName" class="form-label fw-bold mb-0">Accomodation Name <span
                                                class="text-danger">*</span> :</label>
                                        <input id="inputStayName" placeholder="Enter The Accomodation Name"
                                            class="form-control" onkeyup="inputValidatorText(this, '^(?!\s*$)\S[\s\S]{0,29}$' ,'stay' ,'name')">
                                    </div>
                                    <div class="col-5">
                                        <label for="selectStayType" class="form-label fw-bold mb-0">Type <span
                                                class="text-danger">*</span> :</label>
                                        <select id="selectStayType" class="form-select"
                                            onchange="dynamicSelectValidator(this,'stay','stay_type_id')"></select>
                                    </div>
                                </div>
                            </fieldset>

                            <!-- Fieldset 2: Address, Province, District -->
                            <fieldset class="border border-dark p-4 mb-4 bg-light">
                                <legend class="float-none w-auto px-2 text-primary">Location</legend>

                                <div class="row mb-1">
                                    <div class="col-6">
                                        <label for="selectStayProvince" class="form-label fw-bold mb-0">Province <span
                                                class="text-danger">*</span>
                                            :</label>
                                        <select id="selectStayProvince" class="form-select mb-3"
                                            onchange="getDistByProvince()"></select>
                                    </div>

                                    <div class="col-6">
                                        <label for="selectStayDistrict" class="form-label fw-bold mb-0">District <span
                                                class="text-danger">*</span> :</label>
                                        <select id="selectStayDistrict" class="form-select"
                                            onchange="dynamicSelectValidator(this,'stay','district_id')"></select>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <label for="inputStayAddress" class="form-label fw-bold mb-0">Address <span
                                                class="text-danger">*</span> :</label>
                                        <textarea id="inputStayAddress" placeholder="Enter The Address"
                                            class="form-control" style="height: 117px;"
                                            onkeyup="inputValidatorText(this,'','stay','address')"></textarea>
                                    </div>

                                    <div class="col-6">
                                        <label for="inputGeoCoords" class="form-label fw-bold mb-0">Geo Coords :</label>
                                        <input type="text" id="inputGeoCoords" class="form-control form-input"
                                            placeholder="Paste from Google Maps"
                                            oninput="inputValidatorText(this,'','stay','gcoords')">
                                    </div>
                                </div>
                            </fieldset>

                            <!-- Fieldset 3: Contact Info -->
                            <fieldset class="border border-dark p-4 mb-4 bg-light">
                                <legend class="float-none w-auto px-2 text-primary">Contact Information</legend>
                                <div class="row mb-2">
                                    <div class="col-3">
                                        <label for="inputStayContactOne" class="form-label fw-bold mb-0">Contact #1
                                            <span class="text-danger">*</span> :</label>
                                        <input type="text" class="form-control"
                                            placeholder="Enter Primary Contact Number" id="inputStayContactOne"
                                            onkeyup="inputValidatorText(this,'^[0][0-9]{9}$','stay','contactnumone')">
                                    </div>

                                    <div class="col-3">
                                        <label for="inputStayContactTwo" class="form-label fw-bold mb-0">Contact #2
                                            :</label>
                                        <input type="text" class="form-control"
                                            placeholder="Enter Secondary Contact Number" id="inputStayContactTwo"
                                            onkeyup="inputValidatorText(this,'^[0][0-9]{9}$','stay','contactnumtwo')">
                                    </div>

                                    <div class="col-6">
                                        <label for="inputStayEmail" class="form-label fw-bold mb-0">Email <span
                                                class="text-danger">*</span> :</label>
                                        <input type="text" class="form-control" placeholder="Enter The Email Address"
                                            id="inputStayEmail" onkeyup="inputValidatorText(this,'^[A-Za-z0-9\\-\\_]{4,30}[@][a-z]{3,20}[.][a-z]{2,3}$','stay','email')">
                                    </div>
                                </div>
                            </fieldset>

                            <!-- Fieldset 4: Note and Status -->
                            <fieldset class="border border-dark p-4 mb-4 bg-light">
                                <legend class="float-none w-auto px-2 text-primary">Prices & Additional Details</legend>

                                <!-- base and incremental prices -->
                                <div class="row mb-2">                                   
                                
                                    <div class="col-3">
                                        <label for="inputStayBasePrice" class="form-label fw-bold mb-0">Base Price 
                                            <span class="text-danger">*</span> :</label>
                                        <div class="input-group">
                                            <span class="input-group-text p-1 pb-0">
                                                <h6 class="mb-0">LKR</h6>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Enter The Base Price"
                                                id="inputStayBasePrice"
                                                onkeyup="inputValidatorText(this,'^[1-9][0-9]{0,5}([.][0-9]{2})?$','stay','base_price')"
                                                onblur="insertDecimals(this);">
                                        </div>
                                    </div>
                                
                                    <div class="col-3">
                                        <label for="inputStayIncCost" class="form-label fw-bold mb-0">Incremental Cost (Adult) 
                                            <span class="text-danger">*</span> :</label>
                                        <div class="input-group">
                                            <span class="input-group-text p-1 pb-0">
                                                <h6 class="mb-0">LKR</h6>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Enter The Incremental Cost"
                                                id="inputStayIncCost"
                                                onkeyup="inputValidatorText(this,'^[1-9][0-9]{0,5}([.][0-9]{2})?$','stay','incremental_cost')"
                                                onblur="insertDecimals(this);">
                                        </div>
                                    </div>
                                
                                    <div class="col-3">
                                        <label for="inputStayIncCostChild" class="form-label fw-bold mb-0">Incremental Cost (Child) 
                                            <span class="text-danger">*</span> :</label>
                                        <div class="input-group">
                                            <span class="input-group-text p-1 pb-0">
                                                <h6 class="mb-0">LKR</h6>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Enter The Incremental Cost (Child)"
                                                id="inputStayIncCostChild"
                                                onkeyup="inputValidatorText(this,'^[1-9][0-9]{0,5}([.][0-9]{2})?$','stay','incremental_cost_kid')"
                                                onblur="insertDecimals(this);">
                                        </div>
                                        <!-- ^(100(\.00)?|[1-9]\d{2,5}(\.\d{2})?)$ -->
                                    </div>

                                    <div class="col-3">
                                        <label for="inputStayMaxCap" class="form-label fw-bold mb-0">Max Guest Count
                                            <span class="text-danger">*</span> :</label>
                                        <input type="text" class="form-control" placeholder="Enter Guest Capacity"
                                            id="inputStayMaxCap"
                                            onkeyup="inputValidatorText(this,'^[1-9]?[0-9][0-9]?$','stay','maxguestscount')">
                                    </div>
                                
                                </div>
                                

                                <!-- note and status row -->
                                <div class="row">
                                    <div class="col-6">
                                        <label for="selectStayStatus" class="form-label fw-bold mb-0">Status <span
                                                class="text-danger">*</span> :</label>
                                        <select id="selectStayStatus" class="form-select"
                                            onchange="staticSelectValidator(this,'stay','stay_status')">
                                            <option value="" disabled> Select Status </option>
                                            <option selected value="open"> Open For Bookings </option>
                                            <option value="permanantly_closed"> Permanantly Closed </option>
                                            <option value="temporary_closed"> Temporary Closed </option>
                                            <option value="ifDeleted" class="d-none"> Deleted Record </option>
                                        </select>
                                    </div>

                                    <div class="col-6">
                                        <label for="inputStayNote" class="form-label fw-bold mb-0">Note :</label>
                                        <textarea id="inputStayNote" placeholder="Enter Any Additional Information"
                                            class="form-control" style="height: 115px;"
                                            onkeyup="inputValidatorText(this,'','stay','note')"></textarea>
                                    </div>
                                </div>
                            </fieldset>

                            <!-- Form Buttons -->
                            <div class="row mt-3">
                                <div class="col-3">
                                    <button type="reset" class="btn-clear fw-bold">Reset Form</button>
                                </div>

                                <div class="col-9 text-end">
                                    <button type="button" id="stayUpdateBtn" class="btn-update fw-bold"
                                        onclick="updateStay()" style="pointer-events: all;">Update Entry</button>
                                    <button type="submit" id="stayAddBtn" class="btn-add fw-bold" onclick="addNewStay()"
                                        style="pointer-events: all;">Add Entry</button>
                                </div>
                            </div>

                        </form>


                    </div>
                </div>

            </div>

        </div>

        <!-- Modal to display full details of a row -->
        <div class="modal fade py-5" id="infoModalStay" tabindex="-1" aria-labelledby="infoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content shadow-lg rounded-4">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="infoModalLabel">Accomodation Full Details</h5>
                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body bg-light">
                        <div class="container">

                            <!-- Row 1: Name and Type -->
                            <div class="row mb-4 align-items-start">
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1 text-primary">Name:</p>
                                    <p id="modalStayName" class="mb-2"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1 text-primary">Type:</p>
                                    <p id="modalStayType" class="mb-2"></p>
                                </div>
                            </div>

                            <!-- row for base price, incremental cost, max guest count -->
                            <div class="row mb-4 align-items-start">
                                <div class="col-md-3">
                                    <p class="fw-bold mb-1 text-primary">Base Price:</p>
                                    <p id="modalStayBasePrice" class="mb-2"></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="fw-bold mb-1 text-primary">Incremental Cost(Adult):</p>
                                    <p id="modalStayIncCost" class="mb-2"></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="fw-bold mb-1 text-primary">Incremental Cost(Child):</p>
                                    <p id="modalStayIncCostChild" class="mb-2"></p>
                                </div>
                                <div class="col-md-3">
                                    <p class="fw-bold mb-1 text-primary">Guest Capacity:</p>
                                    <p id="modalStayMaxCap" class="mb-2"></p>
                                </div>
                            </div>

                            <!-- Row 2: District, Province, Geo Coords -->
                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1 text-primary">District:</p>
                                    <p id="modalStayDistrict" class="mb-2"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1 text-primary">Province:</p>
                                    <p id="modalStayProvince" class="mb-2"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1 text-primary">Geo Coords:</p>
                                    <p id="modalStayGeoCoords" class="mb-2"></p>
                                </div>
                            </div>

                            <!-- Row 3: Address -->
                            <div class="row mb-4">
                                <div class="col-md-12">
                                    <p class="fw-bold mb-1 text-primary">Address:</p>
                                    <p id="modalStayAddress" class="mb-2"></p>
                                </div>
                            </div>

                            <!-- Row 4: Contact Info -->
                            <div class="row mb-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1 text-primary">Contact No. 1:</p>
                                    <p id="modalStayContact1" class="mb-2"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1 text-primary">Contact No. 2:</p>
                                    <p id="modalStayContact2" class="mb-2"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1 text-primary">Email:</p>
                                    <p id="modalStayEmail" class="mb-2"></p>
                                </div>
                            </div>

                            <!-- Row 5: Status and Additional Details -->
                            <div class="row mb-3">
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1 text-primary">Status:</p>
                                    <p id="modalStayStatus" class="mb-5"></p>

                                    <p class="fw-bold mb-1 text-primary">Additional Details:</p>
                                    <p id="modalStayAdditionalDetails" class="mb-2"></p>
                                </div>
                                <div class="col-md-4">
                                    <p id="modalStayIfDeleted" class="text-danger d-none mb-0"></p>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- Modal Footer -->
                    <div class="modal-footer d-flex justify-content-between bg-light">
                        <button class="btn-print" onclick="printStayRecord()">
                            Print Record
                        </button>
                        <div>
                            <button id="modalStayEditBtn" class="btn-edit fw-bold"
                                onclick="refillStayForm(window['currentObject'])">
                                Edit Entry
                            </button>
                            <button id="modalStayDeleteBtn" class="btn-delete fw-bold"
                                onclick="deleteStayRecord(window['currentObject'])">
                                Delete Entry
                            </button>
                            <button id="modalStayRecoverBtn" class="btn-restore d-none fw-bold"
                                onclick="restoreStayRecord()">
                                Restore Entry
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</body>

</html>