<!-- common head tag for all html pages , this includes all the common scripts, libraries and css pages -->

<head th:fragment="commonHeadFr">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${title}"></title>

    <!-- link bootstrp css -->
    <link rel="stylesheet" href="libs/bootstrap-5.2.3/css/bootstrap.min.css">

    <!-- link bootsrtap js file -->
    <script src="libs/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>

    <!-- common css -->
    <link rel="stylesheet" href="css/common.css">

    <!-- button css -->
    <link rel="stylesheet" href="css/buttons.css">

    <!-- link table common fuction js file -->
    <script src="commonscripts/tableFns.js"></script>

    <!-- link form fn file  -->
    <script src="commonscripts/formFns.js"></script>

    <!-- link common fn -->
    <script src="commonscripts/commonFns.js"></script>

    <!-- for user info change portal -->
    <script src="commonscripts/useredit.js"></script>

    <!-- link jquery  -->
    <script src="libs/jQuery.js"></script>

    <!-- link DATATABLE JQUERY CSS  -->
    <link rel="stylesheet" href="libs/datatables-1.13.6/css/jquery.dataTables.css">

    <!-- link DATATABLE JQUERY JS -->
    <script src="libs/datatables-1.13.6/js/jquery.dataTables.js"></script>

</head>

<!-- common fragment for top nav bar(header) -->
<header th:fragment="headerFragment" id="commonHeader" class="header fixed-top d-flex align-items-center">

    <!-- Container for the top bar content -->
    <div class="d-flex align-items-center justify-content-between w-100">

        <div class="d-flex align-items-center justify-content-between">

            <!-- Toggle button for sidebar -->
            <button class="bi bi-list toggle-sidebar-btn border-none bg-info" onclick="openNav();">
                <img src="images/toggle.svg" width="25px" alt="Toggle Sidebar">
            </button>

            <!-- Brand name (Yathra Travels) -->
            <a href="http://localhost:8081/dashboard" class="logo d-flex align-items-center my-auto">
                <span class="d-none d-lg-block ms-1 text-primary">Yathra Travels</span>
            </a>
        </div>


        <!-- Display module name (dynamic) -->
        <h2 th:text="${moduleName}" class="ms-5 my-auto text-info"></h2>

        <!-- User role (hidden, for later use in tourpackage module) -->
        <div class="d-flex align-items-center ms-5" style="visibility: hidden;">
            <span th:text="${loggeduserrole}">role</span>
        </div>

        <!-- Avatar with Dropdown -->
        <div class="dropdown me-3">
            <img src="images/employee.png" alt="Avatar" class="rounded-circle avatar-small" data-bs-toggle="dropdown"
                aria-expanded="false" style="cursor: pointer;">
            <ul class="dropdown-menu dropdown-menu-end">
                <li class="text-center px-3 py-2">
                    <img src="images/employee.png" alt="Avatar" class="rounded-circle avatar-large mb-2">
                    <p class="mb-0 fw-bold" th:text="${loggedUserUN}"></p>
                    <!-- meka hadanna one -->
                    <p class="text-muted mb-0" th:text="${loggedUserCompanyEmail}"></p>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#userInfoEditModal"
                        onclick="refreshProfileEditForm();">Settings</a></li>
                <li><a class="dropdown-item text-danger"
                        onclick="let userConfirmNew = confirm('Are you sure to sign out...?'); if (userConfirmNew) window.location.replace('/logout'); ">Logout</a>
                </li>
            </ul>
        </div>

    </div>
</header>

<!-- common sidebar -->
<aside th:fragment="asideFragment" id="dashboardSidebarID" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link " href="http://localhost:8081/emp">
                <span>Employee Management</span>
            </a>
        </li>
        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link " href="http://localhost:8081/user">
                <span>User Management </span>
            </a>
        </li>
        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link " href="http://localhost:8081/privilege">
                <span>Privilege Management</span>
            </a>
        </li>
        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link " href="http://localhost:8081/vehicle">
                <span>Vehicle Management</span>
            </a>
        </li>
        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link " href="http://localhost:8081/attraction">
                <span>Destinations Management </span>
            </a>
        </li>
        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link " href="http://localhost:8081/dayplan">
                <span>Day Plan Creation</span>
            </a>
        </li>

        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link " href="http://localhost:8081/stay">
                <span>Accommodations Management</span>
            </a>
        </li>

        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8081/attraction">
                <span>Destinations Management</span>
            </a>
        </li>

        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8081/lunchplace">
                <span>Lunch Hotel Management</span>
            </a>
        </li>

        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8081/stay">
                <span>Accomodations Management</span>
            </a>
        </li>

        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8081/dayplan">
                <span>Day Plan Creation</span>
            </a>
        </li>

        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8081/tourpackage">
                <span>Create Tour Packages</span>
            </a>
        </li>

        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link " href="http://localhost:8081/inquiry">
                <span>Inquiry Management</span>
            </a>
        </li>

        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link " href="http://localhost:8081/client">
                <span>Client Management</span>
            </a>
        </li>
        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link " href="http://localhost:8081/booking">
                <span>Booking Management</span>
            </a>
        </li>
        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link " href="http://localhost:8081/payment">
                <span>Payment Management</span>
            </a>
        </li>

        <!-- main items -->
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8081/expenses">
                <span>Expenses Management</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8081/reportsuccessinqs">
                <span>Success Inquiry Report</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8081/reportpaymentsum">
                <span>Payment Report</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8081/inquiry">
                <span>New Inquiries</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="http://localhost:8081/inquiryresponse">
                <span>Inquiry Responses</span>
            </a>
        </li>

    </ul>

</aside>

<!-- modal for change user's info by himself -->
<div th:fragment="userInfoEditModalFragment" class="modal fade" id="userInfoEditModal" tabindex="-1"
    aria-labelledby="userEditModalLabel" aria-hidden="true">

    <!-- modal starts -->
    <div class="modal-dialog modal-md mt-5 pt-5">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h2 class="modal-title text-warning fs-5" id="userEditModalLabel">Edit User Account</h2>
                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-light">
                <form onsubmit="return false" id="formUserDetailsEdit">

                    <!-- Image Preview and Buttons Row -->
                    <div class="row mb-3">
                        <!-- Image Preview -->
                        <div class="col-md-6 text-center">
                            <img src="images/employee.png" id="previewUserAvatar" class="img-fluid rounded-circle"
                                alt="User Image" style="width: 150px; height: 150px;">
                            <input type="file" class="d-none" id="fileInputUserAvatar"
                                onchange="imgValidatorUserEditPortal();">
                        </div>

                        <!-- Buttons for Change and Clear Image -->
                        <div class="col-md-6 d-flex flex-column justify-content-center align-items-start">
                            <button type="button" class="btn btn-info mb-2 mx-auto"
                                onclick="fileInputUserAvatar.click();">Change
                                Image</button>
                            <button type="button" class="btn btn-danger mx-auto" onclick="clearImage();">Clear
                                Image</button>
                        </div>
                    </div>

                    <!-- Username Field -->
                    <div class="mb-3">
                        <label for="editPortalUN" class="form-label fw-bold mb-0">Username:</label>
                        <input type="text" id="editPortalUN" class="form-control shadow" required
                            placeholder="Enter New Username"
                            onkeyup="inputValidatorText(this, '', 'loggedUser', 'username')">
                    </div>

                    <!-- New Password and Confirm Password Fields -->
                    <div class="row mb-3">
                        <!-- New Password -->
                        <div class="col-md-6">
                            <label for="editPortalNewPW" class="form-label fw-bold mb-0">New Password:</label>
                            <input type="password" id="editPortalNewPW" class="form-control shadow" required
                                placeholder="Enter New Password" onkeyup="checkNewPassword();" autocomplete="off">
                        </div>

                        <!-- Confirm New Password -->
                        <div class="col-md-6">
                            <label for="editPortalRetypePW" class="form-label fw-bold mb-0">Confirm Password:</label>
                            <input disabled type="password" id="editPortalRetypePW" class="form-control shadow" required
                                placeholder="Confirm New Password" onkeyup="retypePWValiForEditPortal();"
                                autocomplete="off">
                        </div>
                    </div>

                    <!-- Current Password Field (for additional security) -->
                    <div class="row mb-3 mt-4">
                        <div class="col-6">
                            <label for="editPortalCurrentPW" class="form-label fw-bold mb-0">Current Password:</label>
                            <input type="password" id="editPortalCurrentPW" class="form-control shadow" required
                                placeholder="Enter Your Current Password"
                                onkeyup="inputValidatorText(this, '', 'loggedUser', 'currentpassword')"
                                autocomplete="off">
                        </div>

                        <div class="col-6">
                            <small class="form-text text-danger">
                                <strong class="text-danger">Note:</strong> For security reasons, your current password
                                is required to make
                                changes.
                            </small>
                        </div>
                    </div>

                    <!-- Reset and Submit Buttons -->
                    <div class="row">
                        <div class="col-12 text-end mt-3">
                            <button type="button" class="btn btn-secondary me-0">Reset</button>
                            <button type="button" class="btn btn-primary" onclick="submitUserAccChanges();">Save
                                Changes</button>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>