<head th:fragment="commonHeadFr">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${title}"></title>

    <!-- link bootstrp css -->
    <link rel="stylesheet" href="libs/bootstrap-5.2.3/css/bootstrap.min.css">

    <!-- link bootsrtap js file -->
    <script src="libs/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>

    <!-- common css -->
    <link rel="stylesheet" href="css/common.css">

    <!-- button css -->
    <link rel="stylesheet" href="css/buttons.css">

    <!-- link table common fuction js file -->
    <script src="commonscripts/tableFns.js"></script>

    <!-- link form fn file  -->
    <script src="commonscripts/formFns.js"></script>

    <!-- link common fn -->
    <script src="commonscripts/commonFns.js"></script>

    <!-- link jquery  -->
    <script src="libs/jQuery.js"></script>

    <!-- link DATATABLE JQUERY CSS  -->
    <link rel="stylesheet" href="libs/datatables-1.13.6/css/jquery.dataTables.css">

    <!-- link DATATABLE JQUERY JS -->
    <script src="libs/datatables-1.13.6/js/jquery.dataTables.js"></script>

</head>

<h1 th:fragment="comH" style="color: aliceblue;"> fdsgdf gfds g hgfh  </h1>

<p th:fragment="comPPPP" class="bg-light"> gfg  hghfghfgh hhhhhhhhhhhh </p>

