<!DOCTYPE html>
<html lang="en">

<head th:replace="~{thymeleafFrs :: commonHeadFr}"></head>

<head>
    <!-- link main css -->
    <!-- <link rel="stylesheet" href="css/user.css"> -->

    <!-- link user js file  -->
    <script src="controllerJSs/user.js"></script>

    <style>
        .w-48 {
            width: 48%;
        }
    </style>

</head>

<body>

    <header th:replace="~{thymeleafFrs :: headerFragment}"></header>
    <aside th:replace="~{thymeleafFrs :: asideFragment}"></aside>
    <div th:replace="~{thymeleafFrs :: userInfoEditModalFragment}"></div>

    <main id="mainAreaID" class="main min-vh-100">

        <!-- Tabs navigation panel -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- for table side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#tableUserHolderDiv" role="tab"
                    aria-controls="tableUserHolderDiv" aria-selected="true">Table</a>
            </li>
            <!-- for form side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="form-tab" data-bs-toggle="tab" href="#formUserHolderDiv" role="tab"
                    aria-controls="formUserHolderDiv" aria-selected="false">Form</a>
            </li>
        </ul>

        <!-- Tabs content -->
        <div class="tab-content mt-1" id="myTabContent">
            <!-- Table tab  -->
            <div id="tableUserHolderDiv" class="tab-pane fade show active table-container bg-info bg-opacity-25"
                role="tabpanel" aria-labelledby="table-tab">
                <!-- a table will be dynamically generated in here -->
            </div>

            <!-- Form tab -->
            <div class="tab-pane fade" id="formUserHolderDiv" role="tabpanel" aria-labelledby="form-tab">
                <div class="card mx-auto" style="width: 700px;">
                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0">User Account Management Form</h3>
                    </div>
                    <div class="card-body" style="background-color: ivory;">
                        <form id="formUser" onsubmit="return false">

                            <!-- select employee starts -->
                            <div class="row mt-2 mx-auto">
                                <div class="div">
                                    <label for="selectEmployee" class="fw-bold form-label mb-0"> Employee: </label>
                                    <select id="selectEmployee" class="form-select mb-3"
                                        onchange="dynamicSelectValidator(this , 'user','employee_id'); generateWorkEmail()">
                                    </select>
                                </div>
                            </div>

                            <!-- USERNAME + EMAIL STARTS -->
                            <div class="row mt-2 mx-auto">
                                <div class="col-5 ">
                                    <label for="inputUserName" class="form-label fw-bold mb-0"> Username: </label>
                                    <input type="text" class="form-control form-input mb-3" id="inputUserName"
                                        placeholder="Enter The Username"
                                        onkeyup="inputValidatorText(this,'','user','username')">
                                </div>

                                <div class="col-7">
                                    <label for="inputEmail" class="col-4 form-label fw-bold mb-0 ">Work Email: </label>
                                    <input type="text" id="inputEmail" class="form-control mb-3"
                                        placeholder="Enter The Personal Office Email Address"
                                        onkeyup="inputValidatorText(this,'^[A-Za-z0-9\\-\\_]{6,20}[@][a-z]{3,10}[.][a-z]{2,3}$','user','work_email')">
                                </div>
                            </div>

                            <!-- roles  -->
                            <div class="row mt-2 mx-auto">
                                <label class="form-label fw-bold mb-0">Assigned Role(s):</label>
                                <div class="col">
                                    <div class="mt-1 mb-3" id="dynamicUserRoles">
                                        <!-- roles will be here -->
                                    </div>
                                </div>
                            </div>

                            <!-- password starts -->
                            <div class="row mt-2 mx-auto ">
                                <div class="col-6 pe-1">
                                    <label for="inputPwd" class=" form-label fw-bold mb-0"> New Password: </label>
                                    <div class="">
                                        <input type="password" id="inputPwd" class="form-control  mb-3"
                                            placeholder="Enter The New Password"
                                            onkeyup="inputValidatorText(this,'','user','password')">
                                    </div>
                                </div>

                                <!-- re-type password starts -->
                                <div class="col-6 ps-1">
                                    <label for="retypePwd" class="form-label fw-bold mb-0"> Confirm Password: </label>
                                    <div class="">
                                        <input type="password" id="retypePwd" class="form-control  mb-3"
                                            placeholder="Retype The Password" onkeyup="retypePasswordVali()">
                                    </div>
                                </div>
                            </div>

                            <!-- acc status  -->
                            <div class="row mt-2 row mt-2  d-flex align-items-center justify-content-center mb-2">

                                <label for="accStatus" class="form-label fw-bold mb-0 ms-3"> User Account Status:
                                </label>

                                <input type="radio" class="btn-check" id="userAccActive" autocomplete="off"
                                    name="accStatus" onchange="if (this.checked) {
                            user.acc_status = true;
                        }else{
                            user.acc_status = false;
                        }">

                                <label class="btn btn-outline-success rounded-start  ms-1" style="
                                max-width: 320px !important;
                            " for="userAccActive">Account
                                    is
                                    active</label>

                                <input type="radio" class="btn-check" id="userAccInactive" autocomplete="off"
                                    name="accStatus" onchange="if (this.checked) {
                                user.acc_status = false;
                            }else{
                                user.acc_status = true;
                            }">

                                <label class="btn  btn-outline-danger ms-2" for="userAccInactive" style="
                                max-width: 320px !important;
                            ">Account is not
                                    active</label>


                            </div>

                            <!--3 form buttons starts -->
                            <div class="row mt-4 mb-2">

                                <div class="col-4">
                                    <button type="button" id="btnClear" class="btn-clear fw-bold"
                                        onclick="refreshUserform()">
                                        Reset Form </button>
                                </div>
                                <div class="col-8 text-end">
                                    <button id="userUpdateBtn" type="submit" class="btn-update fw-bold me-2"
                                        onclick="updateUser()" style="pointer-events: all;">
                                        Update User</button>

                                    <button id="userAddBtn" type="submit" class="btn-add fw-bold" onclick="addNewUser()"
                                        style="pointer-events: all;">
                                        Add New User </button>
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>

        <!-- Modal to display full details of a row -->
        <div class="modal fade py-5" id="infoModalUser" tabindex="-1" aria-labelledby="infoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content shadow-lg" style="width: 550px;">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title fw-bold" id="infoModalLabel">User Account Information</h5>
                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body bg-light">
                        <div class="container">
                            <!-- Employee Code -->
                            <div class="row mb-3">
                                <div class="col-4">
                                    <p class="fw-bold text-primary mb-0">Employee Code:</p>
                                </div>
                                <div class="col-8">
                                    <p id="modalUserEmpCode" class="  mb-0"></p>
                                </div>
                            </div>

                            <!-- Full Name -->
                            <div class="row mb-3">
                                <div class="col-4">
                                    <p class="fw-bold text-primary mb-0">Employee Name:</p>
                                </div>
                                <div class="col-8">
                                    <p id="modalUserEmpName" class="  mb-0"></p>
                                </div>
                            </div>

                            <!-- Username -->
                            <div class="row mb-3">
                                <div class="col-4">
                                    <p class="fw-bold text-primary mb-0">Username:</p>
                                </div>
                                <div class="col-8">
                                    <p id="modalUserUsername" class="  mb-0"></p>
                                </div>
                            </div>

                            <!-- Email -->
                            <div class="row mb-3">
                                <div class="col-4">
                                    <p class="fw-bold text-primary mb-0">Work Email:</p>
                                </div>
                                <div class="col-8">
                                    <p id="modalUserCompanyEmail" class="  mb-0"></p>
                                </div>
                            </div>

                            <!-- Roles -->
                            <div class="row mb-3">
                                <div class="col-4">
                                    <p class="fw-bold text-primary mb-0">Role(s):</p>
                                </div>
                                <div class="col-8">
                                    <p id="modalUserRoles" class="  mb-0"></p>
                                </div>
                            </div>

                            <!-- Account Created Date -->
                            <div class="row mb-3">
                                <div class="col-4">
                                    <p class="fw-bold text-primary mb-0">Account Created Date:</p>
                                </div>
                                <div class="col-8">
                                    <p id="modalUserAccCreatedDate" class="  mb-0"></p>
                                </div>
                            </div>

                            <!-- Account Status -->
                            <div class="row mb-3">
                                <div class="col-4">
                                    <p class="fw-bold text-primary mb-0">Account Status:</p>
                                </div>
                                <div class="col-8">
                                    <p id="modalUserAccStatus" class="  mb-0"></p>
                                </div>
                            </div>

                            <!-- Additional Information -->
                            <div class="row">
                                <div class="col-4">
                                    <p class="fw-bold text-primary mb-0">Additional Information:</p>
                                </div>
                                <div class="col-8">
                                    <p id="modalUserNote" class="  mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer d-flex justify-content-between bg-light">
                        <button class="btn-print fw-bold" onclick="printUserRecord()">
                            Print Record
                        </button>
                        <div>
                            <button class="btn-edit fw-bold me-2" onclick="refillUserForm(window['currentObject'])">
                                Edit User
                            </button>
                            <button class="btn-delete fw-bold" onclick="deleteUserRecord(window['currentObject'])">
                                Delete User
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</body>

</html>