<!DOCTYPE html>
<html lang="en">

<head th:replace="~{thymeleafFrs :: commonHeadFr}"></head>

<head>

    <!-- link employee css -->
    <!--<link rel="stylesheet" href="css/vehicle.css">-->

    <!-- link vehicle js -->
    <script src="controllerJSs/vehicle.js"></script>

</head>

<body>

    <header th:replace="~{thymeleafFrs :: headerFragment}"></header>
    <aside th:replace="~{thymeleafFrs :: asideFragment}"></aside>
    <div th:replace="~{thymeleafFrs :: userInfoEditModalFragment}"></div>
    <div th:replace="~{thymeleafFrs :: customAlertFragment}"></div>

    <main id="mainAreaID" class="main min-vh-100">

        <!-- Tabs navigation panel -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- for table side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#tableVehicleHolderDiv" role="tab"
                    aria-controls="tableVehicleHolderDiv" aria-selected="true">Table</a>
            </li>
            <!-- for form side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="form-tab" data-bs-toggle="tab" href="#formVehicleHolderDiv" role="tab"
                    aria-controls="formVehicleHolderDiv" aria-selected="false" onclick="setVehicleStatusAuto()">Form</a>
            </li>
        </ul>

        <!-- Tabs content -->
        <div class="tab-content mt-1" id="myTabContent">

            <!-- Table tab  -->
            <div id="tableVehicleHolderDiv" class="tab-pane fade show active table-container p-4 rounded-3"
                role="tabpanel" aria-labelledby="table-tab">
                <!-- a table will be dynamically generated in here -->
            </div>

            <!-- Form tab -->
            <div class="tab-pane fade" id="formVehicleHolderDiv" role="tabpanel" aria-labelledby="form-tab">
                <div class="card mx-auto" style="width: 1100px;">
                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0">Vehicle Management Form</h3>
                    </div>
                    <div class="card-body" style="background-color: ivory;">

                        <!-- form starts -->
                        <form id="formVehicle" class="" onsubmit="return false">

                            <div class="row mt-2">
                                <!-- select vehicle type starts -->
                                <div class="col-4">
                                    <label for="selectVehicleType" class="fw-bold">Type : </label>
                                    <select id="selectVehicleType" class="form-control form-select"
                                        onchange="dynamicSelectValidator(this , 'vehicle','vehicletype_id')" required>
                                    </select>
                                </div>

                            </div>

                            <!--number plate starts -->
                            <div class="row mt-2">
                                <div class="col-6">
                                    <label for="inputNumberPlate" class="fw-bold form-label mb-0"> License Plate number
                                        :</label>
                                    <input id="inputNumberPlate" type="text" class="form-control form-input"
                                        onkeyup="inputValidatorText(this,'','vehicle','numberplate')" required>
                                </div>
                            </div>

                            <div class="row mt-2">

                                <!-- full vehi name -->
                                <div class="col-8">
                                    <label for="inputVehicleName" class="fw-bold form-label mb-0">Model Name
                                        :</label>
                                    <input id="inputVehicleName" type="text" class="test form-control form-input"
                                        onkeyup="inputValidatorText(this,'','vehicle','vehiclename')" required>
                                </div>


                            </div>

                            <!-- luggage capacity starts -->
                            <div class="row mt-2">

                                <!-- luggage capacity  -->
                                <div class="col-8">
                                    <label for="inputVehiLuggageCapacity" class="fw-bold form-label mb-0">Luggage Capacity
                                        :</label>
                                    <input id="inputVehiLuggageCapacity" type="text" class="test form-control form-input"
                                        onkeyup="inputValidatorText(this,'','vehicle','luggage_capacity')" required>
                                </div>


                            </div>

                            <!-- seating capacity starts -->
                            <div class="row mt-2">

                                <label for="inputPassengerSeatCount" class="fw-bold form-label mb-0"> Seat Count
                                    :</label>
                                <input id="inputPassengerSeatCount" type="text" class="test form-control form-input"
                                    onkeyup="inputValidatorText(this,'','vehicle','passengerseats')" required>
                            </div>

                            <div class="row mt-1 mb-3 ">
                                <div class="col-6">
                                    <label class="form-label mb-0" for="inputVehiCostPerKM">Cost Per KM</label>

                                    <div class="input-group">
                                        <span class="input-group-text p-1 pb-0">
                                            <h6 class="my-auto">LKR</h6>
                                        </span>
                                        <input type="text" id="inputVehiCostPerKM"
                                            class="form-control form-input w-85 p-1 text-center"
                                            placeholder=""
                                            onkeyup="inputValidatorText(this,'^(?!0+$)\\d+(\\.\\d{1,2})?','vehicle','cost_per_km')"  >
                                    </div>
                                </div>


                            <div class="row mt-2">


                                <!--select status starts -->
                                <div class="col-4">
                                    <label for="selectVehicleStatus" class="fw-bold form-label mb-0"> Vehicle Status
                                        :</label>

                                    <select id="selectVehicleStatus" class="form-control form-select" required
                                        onchange="staticSelectValidator(this , 'vehicle' , 'vehi_status')">
                                        <option value="" selected disabled>Please Select Status </option>
                                        <option value="Available"> Available For Tours</option>
                                        <option value="On Tour"> On A Tour </option>
                                        <option value="Under Maintenance"> Under Maintenance </option>
                                        <option value="Not In Service"> Not In Service </option>
                                        <option value="ifDeleted" class="d-none"> Deleted </option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <!-- note starts -->
                                <div class="col-8">
                                    <label for="inputNote" class="fw-bold">Additional Information</label>
                                    <textarea id="inputNote" class="form-control" rows="5"
                                        onkeyup="inputValidatorText(this,'','vehicle','note')"></textarea>
                                </div>
                            </div>

                            <!-- Form Buttons -->
                            <div class="row mt-3 mb-2">

                                <div class="col-4">
                                    <button type="reset" class="btn-clear fw-bold" onclick="refreshVehicleForm();">Reset
                                        Form</button>
                                </div>

                                <div class="col-8 text-end">
                                    <button type="button" id="vehicleUpdateBtn" class=" btn-update fw-bold "
                                        onclick="updateVehicle()">Update</button>

                                    <button type="submit" id="vehicleAddBtn" class="btn-add fw-bold"
                                        onclick="addNewVehicle()">Add New Vehicle</button>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>

        <!-- Modal to display full details of a row -->
        <div class="modal fade py-5" id="infoModalVehicle" tabindex="-1" aria-labelledby="infoModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content shadow-lg rounded-4">
                    <!-- Modal Header -->
                    <div class="modal-header bg-primary text-white">
                        <h5 class="modal-title" id="infoModalLabel">Yathra Vehicle Record</h5>
                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div class="container">

                            <!-- Employee Image and Basic Info -->
                            <div class="row g-4 align-items-center">

                                <!-- Name and NIC -->
                                <div class="col-md-8">
                                    <p class="fw-bold mb-1">Numbr plate:</p>
                                    <p id="modalVehiNumberPlate" class="text-muted"></p>
                                    <p class="fw-bold mb-1">Modal name:</p>
                                    <p id="modalVehiModalName" class="text-muted"></p>
                                </div>
                            </div>

                            <!-- Other Details -->
                            <hr>
                            <div class="row g-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Vehicle Type:</p>
                                    <p id="modalVehiType" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Passenger Seat Count:</p>
                                    <p id="modalVehiPassengerSeatCount" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Vehicke Status:</p>
                                    <p id="modalVehiStatus" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Maximum Luggage Capacity:</p>
                                    <p id="modalVehiLuggageCapacity" class="text-muted mb-0"></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Cost Per Kilometer:</p>
                                    <p id="modalVehiCostPerKM" class="text-muted mb-0"></p>
                                </div>
                            </div>

                            <hr>
                            <div class="row g-4">
                                <div class="col-md-4">
                                    <p class="fw-bold mb-1">Additional Information:</p>
                                    <p id="modalVehiNote" class="text-muted mb-0"></p>
                                </div>

                                <div class="col-md-4">
                                    <p id="modalVehiIfDeleted" class="text-danger d-none mb-0"></p>
                                </div>

                            </div>

                        </div>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer d-flex justify-content-between bg-light">
                        <button class="btn-print fw-bold" onclick="printVehicleRecord()">
                            Print Record
                        </button>
                        <div>
                            <button id="modalVehiEditBtn" class="btn-edit me-2 fw-bold"
                                onclick="refillVehicleForm(window['currentObject'])">
                                Edit Vehicle
                            </button>
                            <button id="modalVehiDeleteBtn" class="btn-delete fw-bold"
                                onclick="deleteVehicleRecord(window['currentObject'])">
                                Delete Vehicle
                            </button>
                            <button id="modalVehiRecoverBtn" class="btn-restore d-none fw-bold"
                                onclick="restoreVehicleRecord()">
                                Restore Vehicle
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>

</html>