<!DOCTYPE html>
<html lang="en">

<head th:replace="~{thymeleafFrs :: commonHeadFr}"></head>

<head>
    <!-- link pay rep css -->
    <!--<link rel="stylesheet" href="css/inqreport.css">-->

    <!-- link pay rep js -->
    <script src="controllerJSs/viva.js"></script>

    <style>

    </style>

</head>

<body>
    <header th:replace="~{thymeleafFrs :: headerFragment}"></header>
    <aside th:replace="~{thymeleafFrs :: asideFragment}"></aside>
    <div th:replace="~{thymeleafFrs :: userInfoEditModalFragment}"></div>
    <div th:replace="~{thymeleafFrs :: customAlertFragment}"></div>

    <main id="mainAreaID" class="main mx-auto">

        <!-- Tabs navigation panel -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <!-- for table side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="table-tab" data-bs-toggle="tab" href="#tableInqReportDiv" role="tab"
                    aria-controls="tableInqReportDiv" aria-selected="true">Table</a>
            </li>
            <!-- for form side -->
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="form-tab" data-bs-toggle="tab" href="#chartInqReportDiv" role="tab"
                    aria-controls="chartInqReportDiv" aria-selected="false" onclick="setEmpStatusAuto()">Chart</a>
            </li>
        </ul>

        <div class="tab-content mt-1" id="myTabContent">

            <!-- Table tab  -->
            <div id="tableInqReportDiv" class="tab-pane fade show active table-container p-4 rounded-3" role="tabpanel"
                aria-labelledby="table-tab">
                <div class="container mt-0">

                    <!-- heading -->
                    <h2 class="text-center">Payment Summary</h2>
                    <div class="row justify-content-center mt-4">

                        <!-- 2 date pickers -->
                        <!--<div class="col-md-3">
                            <label for="startDatePickerID" class="form-label">Start Date</label>
                            <input type="date" id="startDatePickerID" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <label for="endDatePickerID" class="form-label">End Date</label>
                            <input type="date" id="endDatePickerID" class="form-control">
                        </div>
                        <div class="col-md-2 align-self-end">
                           
                            <button id="generateReportBtn" class="btn btn-primary mt-4">Generate Payment Summary</button>

                        </div>-->

                        <table id="paymentReportVivaTable" class="table table-bordered mt-5">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text center text-success fw-bold">Month</th>
                                    <th class="text center text-success fw-bold">Payment Summary Amount (LKR)</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!-- january -->
                                <tr>
                                    <td class="text-center" id="monthJan">january</td>
                                    <td class="text-center" id="receivedAmountJan"></td>
                                </tr>
                                <!-- Feb -->
                                <tr>
                                    <td class="text-center" id="monthFeb">Feb</td>
                                    <td class="text-center" id="receivedAmountFeb"></td>
                                </tr>
                                <!-- <March> -->
                                <tr>
                                    <td class="text-center" id="monthMar">March</td>
                                    <td class="text-center" id="receivedAmountMar"></td>
                                </tr>
                                <!-- <April> -->
                                <tr>
                                    <td class="text-center" id="monthApr">April</td>
                                    <td class="text-center" id="receivedAmountApr"></td>
                                </tr>
                                <!-- <May> -->
                                <tr>
                                    <td class="text-center" id="monthMay">May</td>
                                    <td class="text-center" id="receivedAmountMay"></td>
                                </tr>
                                <!-- <June> -->
                                <tr>
                                    <td class="text-center" id="monthjune">June</td>
                                    <td class="text-center" id="receivedAmountjune"></td>
                                </tr>
                                <!-- <July> -->
                                <tr>
                                    <td class="text-center" id="monthJuly">July</td>
                                    <td class="text-center" id="receivedAmountJuly"></td>
                                </tr>
                                <!-- <Aug> -->
                                <tr>
                                    <td class="text-center" id="monthAug">Aug</td>
                                    <td class="text-center" id="receivedAmountAug"></td>
                                </tr>
                                <!-- <Sep> -->
                                <tr>
                                    <td class="text-center" id="monthSep">Sep</td>
                                    <td class="text-center" id="receivedAmountSep"></td>
                                </tr>
                                <!-- <Oct> -->
                                <tr>
                                    <td class="text-center" id="monthOct">Oct</td>
                                    <td class="text-center" id="receivedAmountOct"></td>
                                </tr>
                                <!-- <Nov> -->
                                <tr>
                                    <td class="text-center" id="monthNov">Nov</td>
                                    <td class="text-center" id="receivedAmountNov"></td>
                                </tr>
                                <!-- <Dec> -->
                                <tr>
                                    <td class="text-center" id="monthDec">Dec</td>
                                    <td class="text-center" id="receivedAmountDec"></td>
                                </tr>

                            </tbody>
                        </table>

                        
                    </div>
                </div>
            </div>

            <!-- chart -->
            <!--<div class="tab-pane fade" id="chartInqReportDiv" role="tabpanel" aria-labelledby="form-tab">
                <div class="card mx-auto" style="width: 1100px;">
                    <div class="card-header bg-primary text-white text-center">
                        <h3 class="mb-0">Payment Summary chart</h3>
                    </div>
                    <div class="card-body" style="background-color: ivory;">

                    </div>

                </div>
            </div>-->

        </div>

    </main>

</body>

</html>